<md-toolbar>
    <div layout-align="center center" layout="row" flex>
        <div flex  style="background-color: #00A2D3; text-align:center; font-size: 15px">
            <span>Impressum    </span>   
            <span class="span">AGB    </span>   
            <span class="span">Datenschutz    </span>   
            <span class="span">Sicherheit    </span>   
            <span class="span">Sprache:    </span>   
            <span class="span">Deutsch</span>
        </div>
    </div>
    <div layout-align="center center" style="background-color: #001621; text-align:center; font-size: 15px" flex layout="row">
        <div  flex>
            <span>@SOS-ID</span>
            <span class="span">|</span>
            <span class="span">Alle</span>
            <span class="span">Retchte</span>
            <span class="span">vorbenhalten</span>

        </div>
    </div>
</md-toolbar>
