<md-toolbar>
    <div layout-align="center center" layout="row" flex>
        <div flex  style="background-color: #00A2D3; text-align:center; font-size: 15px">
            <span>Impressum </span>
            <span>AGB </span>
            <span>Datenschutz </span>
            <span>Sicherheit </span>
            <span>Sprache: </span>
            <span>Deutsch</span>
        </div>
    </div>
    <div layout-align="center center" style="background-color: #001621; text-align:center; font-size: 15px" flex layout="row">
        <div  flex>
            <span>@SOS-ID | Alle Retchte vorbenhalten</span>
        </div>
    </div>
</md-toolbar>
