<div class="doctors-view" flex="100">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>My Records</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{DoctorsViewCtrl.viewName}}</span>
        </div>
    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box profile-content__box-edit">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>New Doctor</h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <form name="newDoctor">
                    <div layout="row">
                        <md-input-container flex="33" class="md-block">
                            <label>First Name</label>
                            <input ng-model="doctor.firstName" required>
                        </md-input-container>

                        <md-input-container flex="33" class="md-block">
                            <label>Last Name</label>
                            <input ng-model="doctor.lastName">
                        </md-input-container>


                        <md-input-container flex="33">
                            <label>Medical Speciality</label>
                            <md-select ng-model="doctor.medicalSpeciality">
                                <md-option ng-repeat="state in DoctorsViewCtrl.states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="33">
                            <label>Mobile Phone</label>
                            <input ng-model="doctor.mobilePhone">
                        </md-input-container>
                        <md-input-container flex="33">
                            <label>Telefon Phone</label>
                            <input ng-model="doctor.telefonPhone">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50" class="md-block">
                        <label>Email</label>
                        <input ng-model="doctor.email">
                    </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="100" class="md-block">
                        <label>Clinic Address</label>
                        <textarea ng-model="doctor.clinicAddress"></textarea>
                    </md-input-container>
                    </div>
                    <div layout="row">

                        <md-button ng-disabled="newDoctor.$invalid " class="md-raised md-primary">Add New Doctor</md-button>
                        <md-button class="me-raised">Cancel</md-button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box" ng-repeat="doctor in DoctorsViewCtrl.doctors">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{doctor.firstName + ' ' + doctor.lastName}} - <span>{{doctor.medicalSpeciality}}</span></h3>
            </div>
            <div>
                <md-menu md-offset="-50 50">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button> <span md-menu-align-target>Option</span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <div layout="row">
                    <div layout="row" flex="33">
                        <md-input-container flex="100" class="md-block">
                            <label>First Name</label>
                            <input ng-model="doctor.firstName" disabled>
                        </md-input-container>
                    </div>
                    <div layout="row" flex="33">
                        <md-input-container flex="100" class="md-block">
                            <label>Last Name</label>
                            <input ng-model="doctor.lastName" disabled>
                        </md-input-container>
                    </div>
                    <div layout="row" flex="33">
                        <md-input-container>
                            <label>Medical Speciality</label>
                            <md-select ng-model="doctor.medicalSpeciality" disabled="">
                                <md-option ng-repeat="state in DoctorsViewCtrl.states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex="33">
                        <label>Mobile Phone</label>
                        <input ng-model="doctor.mobilePhone" disabled>
                    </md-input-container>
                    <md-input-container flex="33">
                        <label>Telefon Phone</label>
                        <input ng-model="doctor.telefonPhone" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100" class="md-block">
                        <label>Email</label>
                        <input ng-model="doctor.email" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="100" class="md-block">
                        <label>Clinic Address</label>
                        <textarea ng-model="doctor.clinicAddress" disabled></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

    </div>

</div>