<div class="medications-view" flex="100" layout-align="start center">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>{{ 'PRIVATE.PROFILE.MY_RECORDS' | translate }}</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ 'PRIVATE.PROFILE.MEDICATIONS.PAGE_TITLE' | translate }}</span>
        </div>
        <div class="profile-content__header__button">
            <md-button class="md-raised">
                <md-icon md-svg-icon="content:add" aria-label="Plus signal"></md-icon>
                <span>{{ 'PRIVATE.PROFILE.MEDICATIONS.ADD_NEW' | translate }}</span>
            </md-button>
        </div>
    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box profile-content__box-edit">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{ 'PRIVATE.PROFILE.MEDICATIONS.ADD_NEW' | translate }}</h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <form name="newMedication">
                    <div layout="row">
                        <md-input-container nx-model-attribute="Medication:name" flex="50" flex-xs="100" class="md-block">
                            <input ng-model="medication.name">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                        <md-input-container nx-model-attribute="Medication:dosage" flex="33" flex-xs="100">
                            <input ng-model="medication.dosage">
                        </md-input-container>
                        <md-input-container nx-model-attribute="Medication:unit" flex="33" flex-xs="100">
                            <input ng-model="medication.unit">
                        </md-input-container>
                        <md-input-container nx-model-attribute="Medication:frequency" flex="33" flex-xs="100">
                            <input ng-model="medication.Frequency">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="Medication:reasonForTaking" flex="100" class="md-block">
                            <input ng-model="medication.reasonForTaking">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="Medication:notes" flex="100" class="md-block">
                            <textarea ng-model="medications.notes"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="column" class="profile-content__upload-files">
                        <div layout="row" class="profile-content__upload-files__header">
                            <!--Todo: Mapear tradução-->
                            <div class="profile-content__upload-files__title">Resources</div>
                            <div class="profile-content__upload-files__hint">(Example: X-Ray, Biopsy, Medical Exam...)</div>
                        </div>
                        <div class="profile-content__upload-files__dnd-area" layout="column" layout-align="center center">
                            <div class="profile-content__upload-dnd-area__icon">
                                <md-icon md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                            </div>
                            <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                            <div class="profile-content__upload-files__dnd-area__hint">Your files here or <span>browse</span></div>
                        </div>
                    </div>
                    <div layout="row" layout-xs="column">
                        <md-button ng-disabled="newMedication.$invalid " class="md-raised md-primary">{{ 'PRIVATE.PROFILE.MEDICATIONS.ADD_NEW' | translate }}</md-button>
                        <md-button class="me-raised">Cancel</md-button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box" ng-repeat="medication in MedicationsViewCtrl.medications">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{ medication.name}} - <span>{{medication.dosage + " " + medication.unit + " " + medication.frequency}}</span></h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <div layout="row">
                    <md-input-container nx-model-attribute="Medication:name" flex="50" class="md-block">
                        <input ng-model="medication.name" disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container nx-model-attribute="Medication:dosage" flex="33" flex-xs="100">
                        <input ng-model="medication.dosage" disabled>
                    </md-input-container>
                    <md-input-container nx-model-attribute="Medication:unit" flex="33" flex-xs="100">
                        <input ng-model="medication.unit" disabled>
                    </md-input-container>
                    <md-input-container nx-model-attribute="Medication:frequency" flex="33" flex-xs="100">
                        <input ng-model="medication.frequency" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container nx-model-attribute="Medication:reasonForTaking" flex="100" class="md-block">
                        <input ng-model="medication.reasonForTaking" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container nx-model-attribute="Medication:notes" flex="100" class="md-block">
                        <textarea ng-model="medication.notes" disabled></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

    </div>

</div>