<content-item-box>
    <form name="form">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title" layout-xs="row" layout-align-xs="center stretch">
            <div flex>
                <h3>{{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.PAGE_TITLE' | translate }}</h3>
            </div>
            <div flex="20" layout="column" ng-show="DefaultItemCtrl.disableFields" layout-xs="row" layout-align="end end">
                <md-button class="md-raised" ng-click="DefaultItemCtrl.enableFields()"> {{ 'ACTIONS.EDIT' | translate }}
                </md-button>
            </div>
        </div>
        <div layout="row" flex="100" nx-disable-all="DefaultItemCtrl.disableFields || DefaultItemCtrl.isLoading">
            <div layout="column" flex="100">
                <div layout="column">
                    <md-radio-group ng-model="DefaultItemCtrl.item.allowType">
                        <!-- allowAfterDeath -->
                        <md-radio-button value="allowAfterDeath" class="md-primary" layout="row" layout-align="start center"><span> {{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.QUESTIONS.ALLOW_AFTER_DEATH' | translate }} </span></md-radio-button>
                        <!-- allowExcept -->
                        <md-radio-button value="allowExcept" class="md-primary"><span> {{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.QUESTIONS.ALLOW_EXCEPT' | translate }}  </span></md-radio-button>
                        <md-input-container nx-model-attribute="OrganCard:allowExceptQuestion" flex-gt-xs="33" flex="none" class="md-block" ng-if="DefaultItemCtrl.item.allowType === 'allowExcept'">
                            <input ng-model="DefaultItemCtrl.item.allowExceptQuestion">
                        </md-input-container>
                        <!-- allowOnlyFollowing -->
                        <md-radio-button value="allowOnlyFollowing" class="md-primary"><span> {{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.QUESTIONS.ALLOW_ONLY_FOLLOWING' | translate }} </span></md-radio-button>
                        <md-input-container nx-model-attribute="OrganCard:allowOnlyFollowingQuestion" flex-gt-xs="33" flex="none" class="md-block" ng-if="DefaultItemCtrl.item.allowType === 'allowOnlyFollowing'">
                            <input ng-model="DefaultItemCtrl.item.allowOnlyFollowingQuestion">
                        </md-input-container>
                        <!-- notAllow -->
                        <md-radio-button value="notAllow" class="md-primary"><span> {{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.QUESTIONS.NOT_ALLOW' | translate }} </span></md-radio-button>
                        <!-- personShouldDecide -->
                        <md-radio-button value="personShouldDecide" class="md-primary"><span> {{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.QUESTIONS.PERSON_SHOULD_DECIDE' | translate }} </span></md-radio-button>
                    </md-radio-group>
                </div>
                <div ng-if="DefaultItemCtrl.item.allowType === 'personShouldDecide'">
                    <div layout="row" layout-xs="column">
                        <md-input-container nx-model-attribute="OrganCard:firstName" flex-gt-xs="33" flex="none" class="md-block">
                            <input ng-model="DefaultItemCtrl.item.firstName">
                        </md-input-container>
                        <md-input-container nx-model-attribute="OrganCard:lastName" flex-gt-xs="33" flex="none" class="md-block">
                            <input ng-model="DefaultItemCtrl.item.lastName">
                        </md-input-container>
                        <md-input-container nx-model-attribute="OrganCard:relationship" flex-gt-xs="33" flex="none">
                            <input ng-model="DefaultItemCtrl.item.relationship">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-xs="column">
                        <md-input-container nx-model-attribute="OrganCard:mobileNumber" flex-gt-xs="50" flex="none">
                            <input intl-tel-input ng-model="DefaultItemCtrl.item.mobileNumber">
                        </md-input-container>
                        <md-input-container nx-model-attribute="OrganCard:phoneNumber" flex-gt-xs="50" flex="none">
                            <input intl-tel-input ng-model="DefaultItemCtrl.item.phoneNumber">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="OrganCard:email" flex="100" class="md-block">
                            <input ng-model="DefaultItemCtrl.item.email">
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <div layout="row">
                            <h4 flex class="profile-content__box__title" style="color: #1ABADE !important;">Address</h4>
                        </div>
                        <div layout="row">
                            <md-input-container nx-model-attribute="OrganCard:type" flex="100" class="md-block">
                                <md-select ng-model="DefaultItemCtrl.item.address.type" aria-label="type">
                                    <md-optgroup label="{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.LABEL' | translate }}">
                                        <md-option value="HOME">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.HOME' | translate }}</md-option>
                                        <md-option value="OFFICE">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.OFFICE' | translate }}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container nx-model-attribute="OrganCard:street" flex="50" class="md-block">
                                <input aria-label="Street" placeholder="{{DefaultItemCtrl.item.address.street}}" ng-model="DefaultItemCtrl.item.address.street">
                            </md-input-container>
                            <md-input-container nx-model-attribute="OrganCard:number" flex="50" class="md-block">
                                <input aria-label="number" type="number" placeholder="{{DefaultItemCtrl.item.address.number}}" ng-model="DefaultItemCtrl.item.address.number">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container nx-model-attribute="OrganCard:complement" flex="50" class="md-block">
                                <input aria-label="Type" placeholder="{{DefaultItemCtrl.item.address.complement}}" ng-model="DefaultItemCtrl.item.address.complement">
                            </md-input-container>
                            <md-input-container nx-model-attribute="OrganCard:postalCode" flex="50" class="md-block">
                                <input placeholder="{{DefaultItemCtrl.item.address.postalCode}}" aria-label="Postal Code" ng-model="DefaultItemCtrl.item.address.postalCode">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container nx-model-attribute="OrganCard:city" flex="40" class="md-block">
                                <input aria-label="City" placeholder="{{DefaultItemCtrl.item.address.city}}" ng-model="DefaultItemCtrl.item.address.city">
                            </md-input-container>
                            <md-input-container nx-model-attribute="OrganCard:provincy" flex="30" class="md-block">
                                <input aria-label="Provincy" placeholder="{{DefaultItemCtrl.item.address.provincy}}" ng-model="DefaultItemCtrl.item.address.provincy">
                            </md-input-container>
                            <md-input-container nx-model-attribute="OrganCard:country" flex="30" class="md-block">
                                <input aria-label="Country" placeholder="{{DefaultItemCtrl.item.address.country}}" ng-model="DefaultItemCtrl.item.address.country">
                            </md-input-container>
                        </div>
                    </div>
                    <!-- <div layout="row">
                        <md-input-container nx-model-attribute="OrganCard:address" flex="100" class="md-block">
                            <textarea ng-model="DefaultItemCtrl.item.address"></textarea>
                        </md-input-container>
                    </div> -->
                </div>
                <div layout="column" class="profile-content__upload-files">
                    <div layout="row" class="profile-content__upload-files__header">
                        <!--Todo: Mapear tradução-->
                        <div class="profile-content__upload-files__title">Resource</div>
                        <div class="profile-content__upload-files__hint">({{ 'PRIVATE.PROFILE.ORGAN DONOR CARD.UPLOAD_TIP' | translate }})</div>
                    </div>
                    <div ngf-multiple="true" name="file" ngf-pattern="'image/*,application/pdf'" ngf-max-size="20MB" ng-model="DefaultItemCtrl.item.file" ngf-change="DefaultItemCtrl.change($file)" ngf-select ngf-drop ngf-drag="drag($isDragging, $class, $event)" ngf-drag-over-class="dragover"
                        class="profile-content__upload-files__dnd-area drop-box" layout="column" layout-align="center center">
                        <div class="profile-content__upload-dnd-area__icon">
                            <md-icon ng-if="!DefaultItemCtrl.item.file" md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                            <md-icon style="color:green" ng-if="DefaultItemCtrl.item.file" md-svg-icon="sosid:uploaded" aria-label="Upload"></md-icon>
                        </div>
                        <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                        <div ng-if="!DefaultItemCtrl.item.file" class="profile-content__upload-files__dnd-area__hint">Your files here or
                            <span>browse</span>
                        </div>
                        <div ng-if="DefaultItemCtrl.item.file" class="profile-content__upload-files__dnd-area__hint">
                            {{DefaultItemCtrl.item.file.name}}
                        </div>
                </div>
            </div>
        </div>
        </div>
        <div ng-hide="DefaultItemCtrl.disableFields" layout="row" layout-align-xs="center center">
            <md-button flex="50" ng-click="DefaultItemCtrl.save()" ng-disabled="form.$invalid || form.$pristine" class="md-raised md-primary">{{ 'ACTIONS.SAVE' | translate}}
            </md-button>
            <md-button flex="50" ng-hide="DefaultItemCtrl.isCreate" class="me-raised" ng-click="DefaultItemCtrl.cancel()" skip-disable="">{{ 'ACTIONS.CANCEL' | translate}}
            </md-button>
        </div>
    </form>
</content-item-box>
