.history-payment__list {
  width: 100%;
  max-width: 680px !important;
  margin-top: 50px;
  .history-payment__list__item {
    color: #666;
    height: 70px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
    line-height: 1.6;
    transition: all .3s ease-in-out;
    @media screen and (max-width: 600px) {
      height: auto;
    }
    &:hover {
      background: rgba(255,255,255,0.55);
      transition: all .3s ease-in-out;
    }
    &:first-of-type {
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      border-bottom: 1px solid #bbb;
      &:hover {
        background: transparent;
      }
    }
  }
}


.blue{
  color: #00A2D3 !important;
}

.red{
  color: red !important;
}

.green{
  color: #00E300 !important;
}