<md-content layout="column" layout-align="center center">
    <div layout="column" layout-align="start center" ng-hide="PasswordResetCtrl.registrationFinished">
        <h1 class="title" translate="PUBLIC.RESET_PASSWORD.TITLE"></h1>
        <h2 class="sub-title" translate="PUBLIC.RESET_PASSWORD.SUB_TITLE">  </h2>
        <form name="redefinePasswordForm">

            <div layout="column" class="form">


                <hm-input-container for-model="User" and-attribute="password">
                    <input type="password" ng-model="PasswordResetCtrl.data.password" name="your-password1">
                </hm-input-container>

                <hm-input-container custom-attributes="PasswordResetCtrl.confirmPassword">
                    <input type="password" ng-model="PasswordResetCtrl.user.password2" name="your-password2" pw-check="PasswordResetCtrl.data.password" custom-validation-messages="PasswordResetCtrl.matchPasswordError" ng-required="true">
                </hm-input-container>

                <md-button type="submit" class="md-raised md-primary submit-button" ng-disabled="!redefinePasswordForm.$valid"
                           ng-click="PasswordResetCtrl.submit()" translate="PUBLIC.RESET_PASSWORD.SUBMIT_BUTTON" aria-label="change password">
                </md-button>
            </div>

        </form>
        <div style="width: 600px" layout="column">
            <md-divider></md-divider>

            <p class="normal-text"> {{ 'PUBLIC.RESET_PASSWORD.FOOTER_TEXT' | translate }} <a ui-sref="login()" class="normal-link"> {{ 'PUBLIC.RESET_PASSWORD.LOGIN_HERE_LINK' | translate }} </a> </p>
        </div>
    </div>

    <div class="create-account-container" layout="column" layout-align="start center" ng-show="PasswordResetCtrl.registrationFinished">
        <h1 class="title" translate="PUBLIC.RESET_PASSWORD.SUCCESS.TITLE"></h1>

        <div style="width: 600px" layout="column">
            <md-divider></md-divider>

            <p class="normal-text"><a ui-sref="login()" class="normal-link" translate="PUBLIC.RESET_PASSWORD.SUCCESS.SUB_TITLE"></a> </p>
        </div>
    </div>

</md-content>