<md-content layout="column" layout-align="center center">
    <div layout="column" layout-align="start center" ng-hide="PasswordResetCtrl.registrationFinished">
        <h1 class="title" translate="PUBLIC.RESET_PASSWORD.TITLE"></h1>
        <h2 class="sub-title" translate="PUBLIC.RESET_PASSWORD.SUB_TITLE">  </h2>
        <form name="redefinePasswordForm">

            <div layout="column" class="form">


                <md-input-container nx-model-attribute="User:password">
                    <input type="password" ng-model="PasswordResetCtrl.data.password" name="your-password1">
                </md-input-container>

                <md-input-container>
                    <label translate="PUBLIC.ATTRIBUTES.CONFIRM_PASSWORD.LABEL"></label>
                    <input type="password" ng-model="PasswordResetCtrl.user.confirmPassword" name="matchPassword" pw-check="PasswordResetCtrl.data.password" ng-required="true">
                    <div ng-messages="accountCreateForm.matchPassword.$error" multiple md-auto-hide="true">
                        <div ng-message="required" translate="PUBLIC.ATTRIBUTES.CONFIRM_PASSWORD.VALIDATE.REQUIRED"></div>
                        <div ng-message="match" translate="PUBLIC.ATTRIBUTES.CONFIRM_PASSWORD.VALIDATE.MATCH"></div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary submit-button" ng-disabled="!redefinePasswordForm.$valid"
                           ng-click="PasswordResetCtrl.submit()" translate="PUBLIC.RESET_PASSWORD.SUBMIT_BUTTON" aria-label="change password">
                </md-button>
            </div>

        </form>
        <div style="width: 600px" layout="column">
            <md-divider></md-divider>

            <p class="normal-text"> {{ 'PUBLIC.RESET_PASSWORD.FOOTER_TEXT' | translate }} <a ui-sref="login()" class="normal-link"> {{ 'PUBLIC.RESET_PASSWORD.LOGIN_HERE_LINK' | translate }} </a> </p>
        </div>
    </div>

    <div class="create-account-container" layout="column" layout-align="start center" ng-show="PasswordResetCtrl.registrationFinished">
        <h1 class="title" translate="PUBLIC.RESET_PASSWORD.SUCCESS.TITLE"></h1>

        <div style="width: 600px" layout="column">
            <md-divider></md-divider>

            <p class="normal-text"><a ui-sref="login()" class="normal-link" translate="PUBLIC.RESET_PASSWORD.SUCCESS.SUB_TITLE"></a> </p>
        </div>
    </div>

</md-content>