<div class="medications-view" flex="100">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>
                <toggle-menu-mobile></toggle-menu-mobile>
            </span>
            <span>{{ 'PRIVATE.PROFILE.MY_RECORDS' | translate }}</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ 'PRIVATE.PROFILE.GLASSES PASS.PAGE_TITLE' | translate}}</span>
        </div>
    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box profile-content__box-edit">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{ 'PRIVATE.PROFILE.GLASSES PASS.PAGE_TITLE' | translate }}</h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <form name="saveGlassesPass">
                    <div layout="row">
                        <md-input-container nx-model-attribute="GlassesPass:ndl" flex="100" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                    </div>
                    <div layout="row" class="glasses-pass__form-eyes">
                        <div layout="column" flex="80" class="glasses-pass__form-eyes__inputs">
                            <div layout="row" flex="100">
                                <md-input-container nx-model-attribute="GlassesPass:rightF" flex="100" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                            </div>
                            <div layout="row" flex="100">
                                <md-input-container nx-model-attribute="GlassesPass:rightSph" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:rightCyl" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:rightA" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:rightAdd" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="glasses-pass__form-eyes__icon" layout="row" layout-align="center center">
                            <span>{{ 'PRIVATE.PROFILE.GLASSES PASS.RIGHT EYE' | translate }}</span>
                        </div>
                    </div>
                    <div layout="row" class="glasses-pass__form-eyes">
                        <div class="glasses-pass__form-eyes__icon" layout="row" layout-align="center center">
                            <span>{{ 'PRIVATE.PROFILE.GLASSES PASS.LEFT EYE' | translate }}</span>
                        </div>
                        <div layout="column" flex="80" class="glasses-pass__form-eyes__inputs">
                            <div layout="row" flex="100">
                                <md-input-container nx-model-attribute="GlassesPass:leftF" flex="100" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                            </div>
                            <div layout="row" flex="100">
                                <md-input-container nx-model-attribute="GlassesPass:leftSph" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:leftCyl" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:leftA" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                                <md-input-container nx-model-attribute="GlassesPass:leftAdd" flex="25" class="md-block">
                                    <input ng-model="doctor.firstName">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="GlassesPass:glass" flex="100" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="GlassesPass:version" flex="100" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="GlassesPass:pd" flex="100" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="GlassesPass:date" flex="50" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                        <md-input-container nx-model-attribute="GlassesPass:order" flex="50" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>
                    </div>
                    <div layout="column" class="profile-content__upload-files">
                        <div layout="row" class="profile-content__upload-files__header">
                            <!--Todo: Mapear tradução-->
                            <div class="profile-content__upload-files__title">Resource</div>
                            <div class="profile-content__upload-files__hint">(Upload your living will card)</div>
                        </div>
                        <div class="profile-content__upload-files__dnd-area" layout="column" layout-align="center center">
                            <div class="profile-content__upload-dnd-area__icon">
                                <md-icon md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                            </div>
                            <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                            <div class="profile-content__upload-files__dnd-area__hint">Your files here or <span>browse</span></div>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button ng-disabled="saveGlassesPass.$invalid " class="md-raised md-primary">{{ 'SAVE' | translate }}</md-button>
                        <md-button class="me-raised">{{ 'CANCEL' | translate }}</md-button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>