.medications-view {

}

.allergie-group {
  &:first-of-type {
    margin-top: 10px;
    background: #000;
  }
  .allergie-group__header {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
  }
  .allergie-group__header__title {
    color: #00A2D3;
    font-size: 18px;
    margin-right: 10px;
  }
  .allergie-group__header__button {
    .md-button {
      background-color: transparent;
      box-shadow: none;
      border: 1px solid #00A2D3;
      padding: 0 20px;
      color: #00A2D3;
    }
  }
}
