<div class="personal-data__products profile-content__box">
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div>
            <h3>Products</h3>
        </div>
        <div>
            <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="100" class="products-list">
            <div layout="row" layout-align="space-between center" class="products-list__item" ng-repeat="product in ProductCtrl.products">
                <div layout="row">
                    <div layout="row" class="products-list__image-container"> <img width="100px" height="75px" class="image-preview" ng-src="https://s3.eu-central-1.amazonaws.com/sosid/{{product.file_path}}" />
                    </div>
                    <div layout="column" layout-align="center start">
                        <div layout="row" class="products-list__title">{{product.name}}</div>
                        <div layout="row" class="products-list__more-info">{{ProductCtrl.getLocaleDate(product.created_at)}}</div>
                    </div>
                </div>
                <div layout="row">
                    <button  ng-class="{'products-list__toggle-privacy-block': !product.active, 'products-list__toggle-privacy-unblock': product.active}"  ng-click="ProductCtrl.togglePrivacy(product)">
                        <md-icon  ng-class="{red: !product.active, green: product.active}"  md-svg-icon="action:lock_{{!product.active ? 'outline' : 'open'}}" style="color: #00A2D3;width:8px;height:8px; min-width: 18px; min-height: 18px;" aria-label="Cake Icon"></md-icon>
                        <span hide-xs="true">{{product.active ? 'Unblock PIN' : 'Block PIN'}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
