<div class="progress-circle-container">
    <div class="progress-radial progress-25">
        <div class="overlay">
            <img src="http://placehold.it/88x88" alt="">
            <div class="progress-circle__change--avatar">
                <div>
                    <md-icon md-svg-icon="image:photo_camera" style="color: #ccc;width:12px;height:12px;" aria-label="Camera"></md-icon>
                </div>
                <em>Change Profile Photo</em>
            </div>
        </div>
    </div>
</div>
