<md-dialog class="sosid-modal welcome" style="background-color: #00A2D3; opacity: 0.92">
    <div class="modal__header">
        <h1 class="modal__title" style="color:#ffffff">Welcome to SOS-ID Edit Profile</h1>
        <h2 class="modal__subtitle" style="color:rgb(23.59,69)">It does not have a plan and is on trial version. Choose between the two options below to proceed:</h2>
    </div>
    <div class="modal__content">
        <div class="welcome__options__container" layout="row" layout-xs="column" flex-gt-xs="80" flex="none" layout-align="space-around center">
            <div class="welcome__options__item">
                <div class="welcome__options__item__title">Buy products and get discounts on our plans</div>
                <div class="welcome__options__item__img-container">
                    <img src="./assets/images/sosid-products.png" alt="">
                </div>
                <div class="welcome__options__item__description">lorem ipsum dolor sit amet consectuor</div>
                <a style="color: white; text-decoration:none" href="http://35.156.40.94/store">
                    <md-button href="http://35.156.40.94/store/#/commerce/products_grid" target="_blank">Buy Products</md-button>
                </a>
            </div>
            <div class="welcome__options__item">
                <div class="welcome__options__item__title">Buy products and get discounts on our plans</div>
                <div class="welcome__options__item__img-container">
                    <img src="./assets/images/sosid-plans.png" alt="">
                </div>
                <div class="welcome__options__item__description">lorem ipsum dolor sit amet consectuor</div>
                <md-button ui-sref="settings.subscriptionUpgrade">Buy Subscription</md-button>
            </div>
        </div>
    </div>
    <div class="modal__footer">
        <div class="modal__footer__test-link" layout="row" layout-align="center start">
            <md-button style="background-color: #f69c0d; color: white" ng-click="$WelcomeController.startTrial()">Test trial version for 30 days</md-button>
        </div>
    </div>
</md-dialog>
