<div class="personal-data__doctor-family profile-content__box">
    <div layout="row" layout-align="space-between center" class="profile-content__box__title" flex="100">
        <div>
            <h3>{{"FAMILY_DOCTOR.TITLE" | translate}}</h3>
        </div>
        <div>
            <md-icon ui-sref="profile.doctors" class="buttonAdd" md-svg-icon="content:add" aria-label="add"></md-icon>
        </div>
    </div>
    <div ng-if="FamilyDoctorCtrl.user.familyDoctors.length === 0">
        <p style="font-style:italic">
            {{"MODELS.DOCTOR.ATTRIBUTES.NOATTRIBUTES.LABEL" | translate}}
        </p>
    </div>
    <div ng-repeat="fmDoctor in FamilyDoctorCtrl.user.familyDoctors " layout="row" flex="100">
        <form layout="row" layout-xs="column" flex="100" nx-disable-all="FamilyDoctorCtrl.disabledFields || FamilyDoctorCtrl.isLoading" name="form">
            <div layout="column" flex>
                <div layout="row" flex="33">
                    <md-input-container flex="100" class="md-block">
                        <label>{{"MODELS.DOCTOR.ATTRIBUTES.FIRST NAME.LABEL" | translate}}</label>
                        <input ng-model="fmDoctor.firstName" placeholder="{{fmDoctor.firstName}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                    </md-input-container>
                </div>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="fmDoctor.email" placeholder="{{fmDoctor.email}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                </md-input-container>
            </div>
            <div layout="column" flex>
                <div layout="row" flex>
                    <md-input-container flex="100" class="md-block">
                        <label>{{"MODELS.DOCTOR.ATTRIBUTES.LAST NAME.LABEL" | translate}}</label>
                        <input ng-model="fmDoctor.lastName" placeholder="{{fmDoctor.lastName}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                    </md-input-container>
                </div>

                <div layout="row" flex>
                    <md-input-container flex="100" class="md-block">
                        <label>{{"MODELS.DOCTOR.ATTRIBUTES.MOBILE NUMBER.LABEL" | translate}}</label>
                        <input ng-model="fmDoctor.mobileNumber" placeholder="{{fmDoctor.mobileNumber}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex="100" class="md-block">
                        <label>{{"MODELS.DOCTOR.ATTRIBUTES.PHONE NUMBER.LABEL" | translate}}</label>
                        <input ng-model="fmDoctor.phoneNumber" placeholder="{{fmDoctor.phoneNumber}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                    </md-input-container>
                </div>
            </div>
            <div layout="column" flex>
                <div layout="row" flex>
                    <md-input-container flex="100" class="md-block">
                        <label>{{"MODELS.DOCTOR.ATTRIBUTES.SPECIALITY.LABEL" | translate}}</label>
                        <input ng-model="fmDoctor.speciality" placeholder="{{fmDoctor.speciality}}" ng-disabled="FamilyDoctorCtrl.disabledFields">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-hide="FamilyDoctorCtrl.disabledFields">
                <md-button ng-click="FamilyDoctorCtrl.save(fmDoctor)" ng-disabled="form.$invalid " class="md-raised md-primary">{{ 'ACTIONS.SAVE' | translate}}
                </md-button>
                <md-button class="me-raised" ng-click="FamilyDoctorCtrl.cancel()">{{ 'ACTIONS.CANCEL' | translate}}
                </md-button>
            </div>
        </form>
    </div>
</div>
