<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>My Settings</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ChangePasswordViewCtrl.viewName}}</span>
        </div>
    </div>
    <div layout="column" layout-align="start center" class="setting__change-password">
        <form name="changePassword" class="setting__change-password__form">
            <md-input-container class="md-block">
                <label>Old Password</label>
                <input ng-model="">
            </md-input-container>
            <md-input-container class="md-block">
                <label>New Password</label>
                <input ng-model="">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirm New Password</label>
                <input ng-model="">
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary submit-button" ng-disabled="changePassword.$invalid" aria-label="login">
            Change Password
            </md-button>
        </form>
    </div>
</div>