.change-password-view {

}

.setting__change-password {
  .setting__change-password__form {
    width: 360px;
    max-width: 360px;
    margin-top: 60px;
  }
  .md-button.md-raised {
    display: block;
    width: 100%;
    margin: 0;
    height: 54px;
    box-shadow: none!important;
  }
}