<form class="personal-data__basic-informations profile-content__box" name="userProfileForm">
    <div layout="row" layout-align="space-between center" class="profile-content__box__title" layout-xs="row" layout-align-xs="center stretch">
        <div flex>
            <h3>{{ 'PRIVATE.PROFILE.PERSONAL_DATA.BASIC_INFO' | translate }}</h3>
        </div>
        <div flex="20" ng-show="!UserBasicInfoCtrl.allowEdit" layout="column" layout-xs="row" layout-align="end end">
            <md-button class="md-raised" ng-click="UserBasicInfoCtrl.enableEdit()"> {{ 'ACTIONS.EDIT' | translate }}
            </md-button>
        </div>
    </div>
    <div layout="row" layout-align="space-around none">
        <div layout="column" flex="100" nx-disable-all="!UserBasicInfoCtrl.allowEdit">
            <div class="personal-data__avatar" hide-gt-sm="true" style="padding: 10px" layout="column" layout-align="center center">
                <div layout="column" layout-align="center center">
                    <div class="personal-data__avatar__img-container">
                        <progress-circle></progress-circle>
                    </div>
                    <div class="personal-data__avatar__text">
                        <p>Complete your profile
                            <br>it's at {{ProfileViewCtrl.Session.user.profile.categoriesFilled/ProfileViewCtrl.Session.user.profile.plan.plans.categories.length * 100}}%</p>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div layout="row" flex="50">
                    <md-input-container nx-model-attribute="UserProfile:firstName" flex="100" class="md-block">
                        <input ng-model="UserBasicInfoCtrl.user.profile.firstName">
                    </md-input-container>
                </div>
                <div layout="row" flex="50">
                    <md-input-container nx-model-attribute="UserProfile:lastName" flex="100" class="md-block">
                        <input ng-model="UserBasicInfoCtrl.user.profile.lastName">
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div layout="row" flex="grow">
                    <md-input-container nx-model-attribute="UserProfile:gender" flex="100" class="md-block">
                        <md-select ng-model="UserBasicInfoCtrl.user.profile.gender" aria-label="gender">
                            <md-option ng-value="''"><em>{{ 'OPTIONS.UNDEFINED' | translate }}</em></md-option>
                            <md-optgroup label="{{ 'MODELS.USER PROFILE.ATTRIBUTES.GENDER.LABEL' | translate }}">
                                <md-option value="F">{{ 'MODELS.USER PROFILE.ATTRIBUTES.GENDER.OPTIONS.F' | translate }}</md-option>
                                <md-option value="M">{{ 'MODELS.USER PROFILE.ATTRIBUTES.GENDER.OPTIONS.M' | translate }}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" flex="grow">
                    <md-input-container nx-model-attribute="UserProfile:bloodType" flex="100" class="md-block">
                        <md-select ng-model="UserBasicInfoCtrl.user.profile.bloodType" aria-label="blood type">
                            <md-option ng-value="''"><em>{{ 'OPTIONS.UNDEFINED' | translate }}</em></md-option>
                            <md-optgroup label="{{ 'MODELS.USER PROFILE.ATTRIBUTES.BLOOD TYPE.LABEL' | translate }}">
                                <md-option value="O+">O+</md-option>
                                <md-option value="O-">O-</md-option>
                                <md-option value="A+">A+</md-option>
                                <md-option value="A-">A-</md-option>
                                <md-option value="B+">B+</md-option>
                                <md-option value="B-">B-</md-option>
                                <md-option value="AB+">AB+</md-option>
                                <md-option value="AB-">AB-</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" flex="noshrink" ng-show="UserBasicInfoCtrl.allowEdit">
                    <md-input-container nx-model-attribute="UserProfile:birthDate">
                        <md-datepicker ng-model="UserBasicInfoCtrl.user.profile.birthDate"></md-datepicker>
                    </md-input-container>
                </div>
                <div layout="row" flex="grow" ng-show="UserBasicInfoCtrl.user.profile.age" ng-hide="UserBasicInfoCtrl.allowEdit">
                    <md-input-container nx-model-attribute="UserProfile:age" flex="100" class="md-block">
                        <input ng-model="UserBasicInfoCtrl.user.profile.age">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" ng-repeat="address in UserBasicInfoCtrl.user.profile.address track by $index">
                <div layout="column">
                    <div layout="row">
                        <h4 flex class="profile-content__box__title" style="color: #1ABADE !important;">Address</h4>
                        <md-button ng-show="UserBasicInfoCtrl.allowEdit" flex="5" ng-click="UserBasicInfoCtrl.removeAddress(address)">
                            <md-icon class="buttonClose" md-svg-icon="navigation:close" aria-label="close "></md-icon>
                        </md-button>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="UserProfile:type" flex="100" class="md-block">
                            <md-select ng-model="address.type" aria-label="type">
                                <md-optgroup label="{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.LABEL' | translate }}">
                                    <md-option value="HOME">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.HOME' | translate }}</md-option>
                                    <md-option value="OFFICE">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.OFFICE' | translate }}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="UserProfile:street" flex="50" class="md-block">
                            <input aria-label="Street" placeholder="{{address.street}}" ng-model="address.street">
                        </md-input-container>
                        <md-input-container nx-model-attribute="UserProfile:number" flex="50" class="md-block">
                            <input aria-label="number" type="number" placeholder="{{address.number}}" ng-model="address.number">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="UserProfile:complement" flex="50" class="md-block">
                            <input aria-label="complement" placeholder="{{address.complement}}" ng-model="address.complement">
                        </md-input-container>
                        <!-- <md-input-container nx-model-attribute="UserProfile:type" flex="20" class="md-block">
                        <input aria-label="Type" placeholder="{{address.type}}" ng-model="address.type">
                    </md-input-container> -->
                        <md-input-container nx-model-attribute="UserProfile:postalCode" flex="50" class="md-block">
                            <input placeholder="{{address.postalCode}}" type="number" aria-label="Postal Code" ng-model="address.postalCode">
                        </md-input-container>

                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="UserProfile:city" flex="40" class="md-block">
                            <input aria-label="City" placeholder="{{address.city}}" ng-model="address.city">
                        </md-input-container>
                        <md-input-container nx-model-attribute="UserProfile:provincy" flex="30" class="md-block">
                            <input aria-label="Provincy" placeholder="{{address.provincy}}" ng-model="address.provincy">
                        </md-input-container>
                        <md-input-container nx-model-attribute="UserProfile:country" flex="30" class="md-block">
                            <input aria-label="Country" placeholder="{{address.country}}" ng-model="address.country">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-data__avatar" hide-sm="true" hide-xs="true" style="padding: 10px" layout="column" layout-align="center center">
            <div layout="column">
                <div style="margin:auto" class="personal-data__avatar__img-container">
                    <progress-circle></progress-circle>
                </div>
                <div class="personal-data__avatar__text">
                    <p>Complete your profile
                        <br>it's at {{ProfileViewCtrl.Session.user.profile.categoriesFilled/ProfileViewCtrl.Session.user.profile.plan.plans.categories.length * 100}}%</p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="UserBasicInfoCtrl.allowEdit" layout="row" layout-align="start center">
            <md-button flex-xs="33" style="text-overflow:ellipsis" ng-click="UserBasicInfoCtrl.addAddress()" class="md-raised">New Address</md-button>
            <md-button flex-xs="33" class="md-raised md-primary" ng-click="UserBasicInfoCtrl.updateProfile()" ng-disabled="userProfileForm.$invalid || userProfileForm.$pristine"> {{ 'ACTIONS.SAVE' | translate }}
            </md-button>
            <md-button flex-xs="33" class="md-raised" ng-click="UserBasicInfoCtrl.cancelUpdate()"> {{ 'ACTIONS.CANCEL' | translate }}
            </md-button>
    </div>
</form>
