<md-content layout="column" flex="100" class="sosid-modal welcome" style="top;0; height:100%; background-color: #00A2D3; opacity: 0.92; ">
    <div class="modal__header" layout="row">
        <div layout="column">
            <h1 class="modal__title" style="color:#ffffff">User Informations</h1>
        </div>
    </div>
    <div ng-repeat="category in UserInfoCtrl.keys" class="modal__content" layout="row" flex>
        <div ng-if="UserInfoCtrl.userInformations[category].length" flex layout-align="start start" class="welcome__options__item">
            <div class="title" style="text-align: left; font-size: 25px; color: silver">{{category}}</div>
            <ul flex style="padding:23px; background-color: #fafafa" flex layout="row">
                <li style="text-align: left" flex ng-repeat="key in UserInfoCtrl.getKeys(UserInfoCtrl.userInformations[category])">
                    <div ng-repeat="field in UserInfoCtrl.getKeys(UserInfoCtrl.userInformations[category][key])">
                        <strong translate="PUBLIC.INFORMATIONS.{{field}}"></strong> : {{ UserInfoCtrl.userInformations[category][key][field] }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</md-content>
