<md-content layout="column" layout-align="center center" class="login__container">
    <div layout="column" class="login-box__container">
        <div layout="column" layout-align="start center" ng-hide="ForgotPasswordCtrl.registrationFinished">
        <h1 class="title" translate="PUBLIC.FORGOT_PASSWORD.TITLE"></h1>
        <h2 class="sub-title" translate="PUBLIC.FORGOT_PASSWORD.SUB_TITLE"></h2>
        <form name="forgotPasswordForm">

            <div layout="column" class="form">


                <hm-input-container for-model="User" and-attribute="emailForLogin">
                    <input type="text" ng-model="ForgotPasswordCtrl.email" name="email" ng-required="true">
                </hm-input-container>

                <md-button type="submit" class="md-raised md-primary submit-button" ng-disabled="!forgotPasswordForm.email.$valid"
                           ng-click="ForgotPasswordCtrl.submit()" translate="PUBLIC.FORGOT_PASSWORD.SUBMIT_BUTTON" aria-label="reset password">
                </md-button>
            </div>

        </form>
        <div style="width: 600px" layout="column">
            <md-divider></md-divider>

            <p class="normal-text"> {{ 'PUBLIC.FORGOT_PASSWORD.REMEMBER_PASSWORD_TEXT' | translate }} <a ui-sref="login()" class="normal-link"> {{ 'PUBLIC.FORGOT_PASSWORD.LOGIN_HERE_LINK' | translate }} </a> </p>
        </div>
    </div>

        <div class="forgot-password-container" layout="column" layout-align="start center" ng-if="ForgotPasswordCtrl.registrationFinished">
            <h1 class="title">Password <span class="light">Recovery</span>!</h1>
            <p class="sub-title forgot-password-text" translate="PUBLIC.FORGOT_PASSWORD.SUCCESS_TEXT" translate-value-email="{{::ForgotPasswordCtrl.email}}">
            </p>
        </div>
    </div>

</md-content>