.master-view {
  background-color: #F2F2F2;

  .master-loader {

  }

  .md-sidenav-left {
    margin-top: 65px;
    background-color: #F2F2F2;
    .profile__menu {
      background-color: transparent;
    }
  }

}