<div class="main-header-container" layout="row" layout-align="space-between center">
    <div layout="row" layout-align="start center">
        <div>
            <img src="./assets/images/logo.png" alt="">
        </div>
        <nav class="main-header__menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">My Record</a></li>
                <li><a href="#">Shop</a></li>
            </ul>
        </nav>
    </div>

    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="MainHeaderCtrl.openMenu($mdOpenMenu, $event)">
            <div layout="row" layout-align="end center" class="main-header__menu-buttom">
                <img src="http://placehold.it/38x38" alt="">
                <md-icon md-svg-icon="hardware:keyboard_arrow_down" style="color: #00A2D3;width:8px;height:8px;" aria-label="Cake Icon"></md-icon>
            </div>
        </md-button>
        <md-menu-content width="4">
            <a ui-sref="settings.changePassword">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:key" aria-label="Key"></md-icon>
                        Change Password
                    </md-button>
                </md-menu-item>
            </a>
            <a ui-sref="settings.paymentHistory">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:euro" aria-label="Euro Simbol"></md-icon>
                        Payment History
                    </md-button>
                </md-menu-item>
            </a>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="MainHeaderCtrl.logout()">
                    <md-icon md-svg-icon="navigation:cancel"></md-icon>
                    logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</div>
