<div class="main-header-container" layout="row" layout-align="space-between center">
    <div layout="row" layout-align="start center">
        <div>
            <img src="./assets/images/logo.png" alt="">
        </div>
        <nav class="main-header__menu" hide-xs="true">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">My Record</a></li>
                <li><a href="http://35.156.40.94/store/" target="_blank">Shop</a></li>
            </ul>
        </nav>
    </div>

    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="MainHeaderCtrl.openMenu($mdOpenMenu, $event)">
            <div layout="row" layout-align="end center" class="main-header__menu-buttom">
                <div class="main-header__avatar">
                    <md-icon md-svg-icon="sosid:personal_data" aria-label="Avatar"></md-icon>
                </div>
                <md-icon md-svg-icon="hardware:keyboard_arrow_down" style="color: #00A2D3;width:8px;height:8px;" aria-label="Cake Icon"></md-icon>
            </div>
        </md-button>
        <md-menu-content width="4" class="main-header__menu-user">
            <a ui-sref="settings.changePassword">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:key" aria-label="Key"></md-icon>
                        Change Password
                    </md-button>
                </md-menu-item>
            </a>
            <a ui-sref="settings.paymentHistory">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:euro" aria-label="Euro Simbol"></md-icon>
                        Payment History
                    </md-button>
                </md-menu-item>
            </a>
            <a ui-sref="settings.subscriptionUpgrade">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:upgrade" aria-label="Euro Simbol"></md-icon>
                        Upgrade Plan
                    </md-button>
                </md-menu-item>
            </a>
            <md-menu-divider></md-menu-divider>
            <a ng-click="MainHeaderCtrl.showPrivacySettings($event)">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:settings_privacy" aria-label="Euro Simbol"></md-icon>
                        Privacy Settings
                    </md-button>
                </md-menu-item>
            </a>
            <a ng-click="MainHeaderCtrl.showPrintCard($event)">
                <md-menu-item>
                    <md-button>
                        <md-icon md-svg-icon="sosid:print_card" aria-label="Euro Simbol"></md-icon>
                        Print Your Card
                    </md-button>
                </md-menu-item>
            </a>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="MainHeaderCtrl.logout()">
                    <md-icon md-svg-icon="navigation:cancel"></md-icon>
                    logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</div>
