<div class="main-header-container" layout="row" layout-align="space-between center">
  <div layout="row" layout-align="start center">
    <div>
      <img src="./assets/images/logo.png" alt="">
    </div>
    <nav class="main-header__menu" hide-xs="true">
      <ul>
        <li ng-if="!MainHeaderCtrl.isOutSide() && MainHeaderCtrl.hasPlan() "><a href="https://sosid.pimentagroup.de">
                Website</a></li>
        <li ng-if="!MainHeaderCtrl.isOutSide() && MainHeaderCtrl.hasPlan()"><a href="#profile">{{"HEADER.MY RECORDS" | translate}}</a></li>
        <li ng-if="!MainHeaderCtrl.isOutSide() && MainHeaderCtrl.hasPlan()"><a href="https://sosid.pimentagroup.de/shop/" target="_blank">Shop</a></li>
      </ul>
    </nav>
  </div>
  <md-menu md-position-mode="target-right target">
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="MainHeaderCtrl.openMenu($mdOpenMenu, $event)">
      <div layout="row" layout-align="end center" class="main-header__menu-buttom overlay">
        <div style="background-color:#E0E3E3; border-radius:50%; width: 35px; height: 35px;" class="progress-circle__avatar" layout="row" layout-align="center center">
          <md-icon style="color:#00a2d3" ng-show="!MainHeaderCtrl.hasAvatar()" md-svg-icon="sosid:personal_data" aria-label="Avatar"></md-icon>
          <img ng-show="MainHeaderCtrl.hasAvatar()" ng-src="https://s3.eu-central-1.amazonaws.com/sosid/{{MainHeaderCtrl.getFilePath()}}" />
        </div>
        <md-icon md-svg-icon="hardware:keyboard_arrow_down" style="color: #00A2D3;width:8px;height:8px;" aria-label="Cake Icon"></md-icon>
      </div>
    </md-button>
    <md-menu-content width="4" class="main-header__menu-user">
      <md-menu-item ng-if="!MainHeaderCtrl.isOutSide()" ui-sref="settings.changePassword">
        <md-button>
          <md-icon md-svg-icon="sosid:key" aria-label="Key"></md-icon>
          {{"PRIVATE.SETTINGS.CHANGEPASSWORD.TITLE" | translate}} </md-button>
      </md-menu-item>
      <md-menu-item ng-if="!MainHeaderCtrl.isOutSide()" ui-sref="settings.paymentHistory">
        <md-button>
          <md-icon md-svg-icon="sosid:euro" aria-label="Euro Simbol"></md-icon>
          {{"PRIVATE.SETTINGS.PAYMENTHISTORY.TITLE" | translate}} </md-button>
      </md-menu-item>
      <md-menu-item ng-if="!MainHeaderCtrl.isOutSide()" ui-sref="settings.subscriptionUpgrade">
        <md-button>
          <md-icon md-svg-icon="sosid:upgrade" aria-label="Euro Simbol"></md-icon>
          {{"PLAN.UPGRADE" | translate}} </md-button>
      </md-menu-item>
      <md-menu-divider ng-if="!MainHeaderCtrl.isOutSide()"></md-menu-divider>
      <md-menu-item ng-if="!MainHeaderCtrl.isOutSide()" ng-click="MainHeaderCtrl.showPrivacySettings($event)">
        <md-button>
          <md-icon md-svg-icon="sosid:settings_privacy" aria-label="Euro Simbol"></md-icon>
          {{"PRIVATE.PROFILE.PRIVACY.SETTINGS" | translate}} </md-button>
      </md-menu-item>
      <md-menu-item ng-if="!MainHeaderCtrl.isOutSide()" ng-click="MainHeaderCtrl.showPrintCard($event)">
        <md-button>
          <md-icon md-svg-icon="sosid:print_card" aria-label="Euro Simbol"></md-icon>
          {{"PRIVATE.PROFILE.PRINT CARD.PRINT" | translate}} </md-button>
      </md-menu-item>
      <md-menu-divider ng-if="!MainHeaderCtrl.isOutSide()"></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="MainHeaderCtrl.logout()">
          <md-icon md-svg-icon="navigation:cancel"></md-icon>
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
