<content-item-box>
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div flex-xs="90" ng-hide="DefaultItemCtrl.isCreate" flex>
            <h3>{{DefaultItemCtrl.item.companyName}} <span ng-show="DefaultItemCtrl.item.idInsurance"> - {{DefaultItemCtrl.item.idInsurance}}</span></h3>
        </div>

        <div flex-xs="90" ng-show="DefaultItemCtrl.isCreate">
            <h3>{{ 'PRIVATE.PROFILE.HEALTH INSURANCES.ADD_NEW' | translate }}</h3>
        </div>
        <div ng-hide="DefaultItemCtrl.isCreate">
            <md-menu md-offset="-50 50">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;"
                             aria-label="Cake Icon"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.enableFields()"><span md-menu-align-target>{{ "ACTIONS.EDIT" | translate}}</span></md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.remove()"><span md-menu-align-target>{{ "ACTIONS.DELETE" | translate}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div layout="row" flex="100">
        <form layout="column" flex="100" nx-disable-all="DefaultItemCtrl.disableFields || DefaultItemCtrl.isLoading" name="form">
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="HealthInsurance:companyName" flex-gt-xs="50" flex="none">
                    <input ng-model="DefaultItemCtrl.item.companyName">
                </md-input-container>
                <md-input-container nx-model-attribute="HealthInsurance:idInsurance" flex-gt-xs="50" flex="none">
                    <input ng-model="DefaultItemCtrl.item.idInsurance">
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="HealthInsurance:phone" flex-gt-xs="50" flex="none">
                    <input ng-model="DefaultItemCtrl.item.phone">
                </md-input-container>
                <md-input-container nx-model-attribute="HealthInsurance:planType" flex-gt-xs="50" flex="none">
                    <input ng-model="DefaultItemCtrl.item.planType">
                </md-input-container>
            </div>
            <div layout="column" class="profile-content__upload-files">
                <div layout="row" class="profile-content__upload-files__header">
                    <!--Todo: Mapear tradução-->
                    <div class="profile-content__upload-files__title">Resources</div>
                    <div class="profile-content__upload-files__hint">(Example: X-Ray, Biopsy, Medical Exam...)</div>
                </div>
                <div class="profile-content__upload-files__dnd-area" layout="column" layout-align="center center">
                    <div class="profile-content__upload-dnd-area__icon">
                        <md-icon md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                    </div>
                    <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                    <div class="profile-content__upload-files__dnd-area__hint">Your files here or <span>browse</span></div>
                </div>
            </div>
            <div layout="row" ng-hide="DefaultItemCtrl.disableFields">
                <md-button ng-click="DefaultItemCtrl.save()" ng-disabled="form.$invalid "
                           class="md-raised md-primary">{{ 'ACTIONS.SAVE' | translate}}
                </md-button>
                <md-button class="me-raised" ng-click="DefaultItemCtrl.cancel()">{{ 'ACTIONS.CANCEL' |
                    translate}}
                </md-button>
            </div>
        </form>
    </div>
</content-item-box>

