<md-dialog layout="column" flex="100" class="sosid-modal print-card" style="top:0; height:100%">
    <div layout="row" style="margin-top:-50px; max-height:60px" layout-align="end start" flex>
        <md-button style="background: transparent !important" layout-align="end end" layout="column" flex="5" ng-click="$PrintCardController.hide()">
            <md-icon class="buttonClose" md-svg-icon="navigation:close" aria-label="close "></md-icon>
        </md-button>
    </div>
    <div class="modal__header" layout="row">
        <div layout="column">
            <h1 class="modal__title">{{ 'PRIVATE.PROFILE.PRINT CARD.PAGE_TITLE' | translate }}</h1>
            <h2 class="modal__subtitle">{{ 'PRIVATE.PROFILE.PRINT CARD.PAGE_SUBTITLE' | translate }}</h2>
        </div>
    </div>
    <div class="modal__content" style="max-width:800px; margin:auto">
        <div class="print-card__container" layout="row" layout-xs="column" flex-gt-xs="100" layout-align="center center">
            <div class="print-card__front" layout="column" flex style="width: 300px; height:275px">
                <div class="print-card__front__logo" layout="row" flex>
                    <div style="width:100px" layout="column">
                        <img src="./assets/images/logo.png" alt="">
                    </div>
                </div>
                <div layout="row" flex layout-align="center center">
                    <div class="print-card__info" style="font-size:15px">Access <b>sos-id.de</b> with this <b>SOS-ID {{$PrintCardController.user.serial}}</b> and see my register</div>
                </div>
                <div layout="row">
                    <div flex>
                        <div class="print-card__front__left">
                            <div class="print-card__label">{{ "PRIVATE.PROFILE.PERSONAL_DATA.PAGE_TITLE" | translate}}</div>
                            <div class="print-card__data">{{$PrintCardController.user.profile.firstName}} {{$PrintCardController.user.profile.lastName}}</div>
                            <div ng-if="$PrintCardController.user.profile.bloodType" class="print-card__data">Group {{$PrintCardController.user.profile.bloodType}}</div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div flex ng-if="$PrintCardController.emergencyContact">
                        <div class="print-card__front__left">
                            <div class="print-card__label">{{ "PRIVATE.PROFILE.EMERGENCY CONTACTS.PAGE_TITLE" | translate}}</div>
                            <div class="print-card__data">{{$PrintCardController.emergencyContact.firstName}} {{$PrintCardController.emergencyContact.lastName}}</div>
                            <div class="print-card__data">{{$PrintCardController.emergencyContact.mobileNumber}}</div>
                            <div class="print-card__data">{{$PrintCardController.emergencyContact.phoneNumber}}</div>
                        </div>
                    </div>
                    <div flex>
                        <div class="print-card__front__left" ng-if="$PrintCardController.user.profile.address.length">
                            <div class="print-card__label">Adresse</div>
                            <div class="print-card__data">{{$PrintCardController.user.profile.address[0].street}}, {{$PrintCardController.user.profile.address[0].number}}<br> {{$PrintCardController.user.profile.address[0].city}} - {{$PrintCardController.user.profile.address[0].country}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="print-card__front" flex style="width: 300px; height:275px; margin:15px" layout="column">
                <div layout="row" flex layout-align="start start">
                    <div class="print-card__info" style="font-size:15px">Access <b>sos-id.de</b> with this <b>SOS-ID {{$PrintCardController.user.serial}}</b> and see my register</div>
                </div>
                <!--  <div flex>
                    <div class="print-card__back__left">
                        <div class="print-card__label">Medical Insurance Details</div>
                        <div class="print-card__data">American Income Life Insurance Company</div>
                        <div class="print-card__data">HU762847362348932473</div>
                        <div class="print-card__data">+49 251 74849741</div>
                        <div class="print-card__data">GOLD PREMIUM</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal__footer">
        <md-button class="md-primary md-raised" ng-click="$PrintCardController.printCard()">Print my card</md-button>
        <div layout="row" ng-click="$PrintCardController.hide()" layout-align="center start">something is wrong? <a ui-sref="profile.personalData">return to your record</a></div>
    </div>
</md-dialog>
