<div ng-if="!UserPlanCtrl.loading" class="personal-data__plan profile-content__box">
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div>
            <h3>{{"PLAN.TITLE" | translate}}</h3>
        </div>
    </div>
    <div layout="row" layout-align="space-around none">
        <div layout="column" flex="30" flex-sm="50" flex-xs="50">
            <md-input-container flex="25" class="md-block">
                <label>{{"PLAN.CURRENT" | translate}}</label>
                <input style="text-align:left;margin-top: 6px; border-radius:3px;" ng-class="{ basic : UserPlanCtrl.plan.name.toLowerCase().trim() === 'basic',
                  standard : UserPlanCtrl.plan.name.toLowerCase().trim() === 'standard',
                  premium : UserPlanCtrl.plan.name.toLowerCase().trim() === 'premium' }" value="{{UserPlanCtrl.plan.name}}" disabled>
            </md-input-container>
            <md-input-container flex="33" class="md-block">
                <label>{{"PLAN.START" | translate}}</label>
                <input ng-model="UserPlanCtrl.registration" disabled>
            </md-input-container>
            <md-input-container flex="33" class="md-block">
                <label>{{"PLAN.USED" | translate}}</label>
                <input ng-model="UserPlanCtrl.plan.moreInformations.monthsUsed" disabled>
            </md-input-container>
        </div>

        <div layout="column" flex="30" flex-sm="50" flex-xs="50" layout-align="end end">
            <div flex="33">
            </div>
            <md-input-container class="md-block">
                <label>{{"PLAN.END" | translate}}</label>
                <input ng-model="UserPlanCtrl.expiration" disabled>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{"PLAN.REMAINING" | translate}}</label>
                <input ng-model="UserPlanCtrl.plan.moreInformations.remainingMonths" disabled>
            </md-input-container>
        </div>
        <div layout="column" flex="50" hide-xs="true" hide-sm="true">
            <div layout="row" hide-xs="true" class="widget__upgrade" layout-align="start center">
                <div flex="40" class="widget__upgrade__icon">

                    <md-icon md-svg-icon="action:trending_up" aria-label="Trending up"></md-icon>

                </div>
                <div flex="60" layout-align="end end" class="widget__upgrade__text">
                    <div class="widget__upgrade__title" style="font-size:15px">{{"PLAN.UPGRADE" | translate}}</div>
                    <div class="widget__upgrade__subtitle">{{"PLAN.SAVE" | translate}} <b>8 €</b></div>
                    <md-button ui-sref="settings.subscriptionUpgrade" class="md-primary md-raised">{{"PLAN.UPGRADETEXTBUTTON" | translate}}</md-button>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" hide-gt-sm="true">
        <div flex layout="row" class="widget__upgrade" layout-align="center center">
            <div flex="55" style="margin-left:8px" layout-align="start start" layout="column" class="widget__upgrade__icon">
                <md-icon md-svg-icon="action:trending_up" aria-label="Trending up"></md-icon>
            </div>
            <div layout="column" layout-align="start start" style="margin-left:10px">
                <div class="widget__upgrade__title">{{"PLAN.UPGRADE" | translate}}</div>
                <div class="widget__upgrade__subtitle">{{"PLAN.SAVE" | translate}} <b>8 €</b></div>
                <md-button ui-sref="settings.subscriptionUpgrade" class="md-primary md-raised">{{"PLAN.UPGRADETEXTBUTTON" | translate}}</md-button>
            </div>
        </div>
    </div>
</div>
