<div ng-if="!UserPlanCtrl.loading" class="personal-data__plan profile-content__box">
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div>
            <h3>Plan</h3>
        </div>
    </div>
    <div layout="row" layout-align="space-around none">
        <div layout="column" flex="30" flex-sm="50" flex-xs="50">
            <div layout="column">
                <md-input-container flex="25" class="md-block">
                    <label>Current Plan</label>
                    <input style="margin-top: 6px; border-radius:3px;" ng-class="{ basic : UserPlanCtrl.plan.name.toLowerCase().trim() === 'basic',
                  standard : UserPlanCtrl.plan.name.toLowerCase().trim() === 'standard',
                  premium : UserPlanCtrl.plan.name.toLowerCase().trim() === 'premium' }" class="md-ink-ripple" ng-model="UserPlanCtrl.plan.name" disabled>
                </md-input-container>
                <md-input-container flex="33" class="md-block">
                    <label>Start</label>
                    <input ng-model="UserPlanCtrl.registration" disabled>
                </md-input-container>
                <md-input-container flex="33" class="md-block">
                    <label>Months Used</label>
                    <input ng-model="UserPlanCtrl.plan.moreInformations.monthsUsed" disabled>
                </md-input-container>
            </div>
        </div>

        <div layout="column" flex="30" flex-sm="50" flex-xs="50" layout-align="end end">
            <div flex="33">
            </div>
            <md-input-container class="md-block">
                <label>End</label>
                <input ng-model="UserPlanCtrl.expiration" disabled>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Remaining Months</label>
                <input ng-model="UserPlanCtrl.plan.moreInformations.remainingMonths" disabled>
            </md-input-container>
        </div>
        <div layout="column" flex="50" hide-xs="true" hide-sm="true">
            <div flex layout="row" hide-xs="true" class="widget__upgrade" layout-align="center center">
                <div class="widget__upgrade__icon">
                    <md-icon md-svg-icon="action:trending_up" aria-label="Trending up"></md-icon>
                </div>
                <div flex="40" layout-align="end end" class="widget__upgrade__text">
                    <div class="widget__upgrade__title">Upgrade your Plan</div>
                    <div class="widget__upgrade__subtitle">Upgrade now and save <b>8 €</b></div>
                    <md-button ui-sref="settings.subscriptionUpgrade" class="md-primary md-raised">Upgrade Plan</md-button>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" hide-gt-sm="true">
        <div flex layout="row" class="widget__upgrade" layout-align="center center">
            <div flex="55" layout-align="start start" layout="column" class="widget__upgrade__icon">
                <md-icon md-svg-icon="action:trending_up" aria-label="Trending up"></md-icon>
            </div>
            <div layout="column" layout-align="start start" style="margin-left:10px">
                <div class="widget__upgrade__title">Upgrade your Plan</div>
                <div class="widget__upgrade__subtitle">Upgrade now and save <b>8 €</b></div>
                <md-button ui-sref="settings.subscriptionUpgrade" class="md-primary md-raised">Upgrade Plan</md-button>
            </div>
        </div>
    </div>
</div>
