<div class="emergency-contatcs-view" flex="100">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>{{ 'PRIVATE.PROFILE.MY_RECORDS' | translate }}</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.PAGE_TITLE' | translate}}</span>
        </div>
        <div class="profile-content__header__button">
            <md-button class="md-raised">
                <md-icon md-svg-icon="content:add" aria-label="Plus signal"></md-icon>
                <span>{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</span>
            </md-button>
        </div>
    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box profile-content__box-edit">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <form name="newContactEmergeny">
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:firstName" flex="33" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>

                        <md-input-container nx-model-attribute="EmergencyContact:lastName" flex="33" class="md-block">
                            <input ng-model="doctor.lastName">
                        </md-input-container>

                        <md-input-container nx-model-attribute="EmergencyContact:relationship" flex="33">
                            <input ng-model="doctor.medicalSpeciality">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:mobilePhone" flex="33">
                            <input ng-model="doctor.mobilePhone">
                        </md-input-container>
                        <md-input-container nx-model-attribute="EmergencyContact:phone" flex="33">
                            <input ng-model="doctor.telefonPhone">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:email" flex="50" class="md-block">
                        <input ng-model="doctor.email">
                    </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:address" flex="100" class="md-block">
                        <textarea ng-model="doctor.clinicAddress"></textarea>
                    </md-input-container>
                    </div>
                    <div layout="row">
                        <md-button ng-disabled="newMedication.$invalid " class="md-raised md-primary">{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</md-button>
                        <md-button class="me-raised">{{ 'CANCEL' | translate }}</md-button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box" ng-repeat="emergencyContacts in EmergencyContactsViewCtrl.emergencyContacts">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{emergencyContacts.firstName + ' ' + emergencyContacts.lastName}} - <span>{{emergencyContacts.relationship}}</span></h3>
            </div>
            <div>
                <md-menu md-offset="-50 50">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button> <span md-menu-align-target>Option</span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <div layout="row">
                    <md-input-container nx-model-attribute="EmergencyContact:firstName" flex="33" class="md-block">
                        <input ng-model="emergencyContacts.firstName" disabled>
                    </md-input-container>

                    <md-input-container nx-model-attribute="EmergencyContact:lastName" flex="33" class="md-block">
                        <input ng-model="emergencyContacts.lastName" disabled>
                    </md-input-container>

                    <md-input-container nx-model-attribute="EmergencyContact:relationship" flex="33">
                        <input ng-model="emergencyContacts.relationship" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container nx-model-attribute="EmergencyContact:mobilePhone" flex="33">
                        <input ng-model="emergencyContacts.mobilePhone" disabled>
                    </md-input-container>
                    <md-input-container nx-model-attribute="EmergencyContact:phone" flex="33">
                        <input ng-model="emergencyContacts.telefonPhone" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container nx-model-attribute="EmergencyContact:email" flex="50" class="md-block">
                        <input ng-model="emergencyContacts.email" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container nx-model-attribute="EmergencyContact:address" flex="100" class="md-block">
                        <textarea ng-model="emergencyContacts.address" disabled></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

    </div>

</div>