<content-item-box>
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div flex-xs="90" ng-hide="DefaultItemCtrl.isCreate" flex>
            <h3>{{ DefaultItemCtrl.item.name}} - <span>{{DefaultItemCtrl.item.dosage + " " + DefaultItemCtrl.item.unit + " " + DefaultItemCtrl.item.frequency}}</span></h3>
        </div>
        <div ng-show="DefaultItemCtrl.isCreate" flex-xs="90" ng-show="DefaultItemCtrl.isCreate">
            <h3>{{ 'PRIVATE.PROFILE.MEDICATIONS.ADD_NEW' | translate }}</h3>
        </div>
        <div ng-hide="DefaultItemCtrl.isCreate">
            <md-menu md-offset="-50 50">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.enableFields()"><span md-menu-align-target>{{ "ACTIONS.EDIT" | translate}}</span></md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.remove()"><span md-menu-align-target>{{ "ACTIONS.DELETE" | translate}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div layout="row" flex="100">
        <form layout="column" flex="100" nx-disable-all="DefaultItemCtrl.disableFields || DefaultItemCtrl.isLoading || ProfileViewCtrl.isOutSide()" name="form">
            <div layout="row">
                <md-input-container nx-model-attribute="Medication:name" flex="100" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.name">
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="Medication:dosage" flex-gt-xs="33" flex="none">
                    <input ng-model="DefaultItemCtrl.item.dosage">
                </md-input-container>
                <md-input-container flex-gt-xs="33" nx-model-attribute="Medication:unitOfMeasurement" flex="100" class="md-block">
                    <md-select ng-model="DefaultItemCtrl.item.unitOfMeasurement">
                        <md-option ng-value="''"><em>{{ 'OPTIONS.UNDEFINED' | translate }}</em></md-option>
                        <md-optgroup label="Unit of Measurement">
                            <md-option ng-repeat="unit in DefaultItemCtrl.getAttributes().units" value="{{unit}}">{{unit}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-input-container nx-model-attribute="Medication:frequency" flex-gt-xs="33" flex="none">
                    <input ng-model="DefaultItemCtrl.item.frequency">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="Medication:reasonForTaking" flex="100" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.reasonForTaking">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="Medication:notes" flex="100" class="md-block">
                    <textarea ng-model="DefaultItemCtrl.item.notes"></textarea>
                </md-input-container>
            </div>
            <div layout="column" class="profile-content__upload-files">
                <div layout="row" class="profile-content__upload-files__header">
                    <!--Todo: Mapear tradução-->
                    <div class="profile-content__upload-files__title">Resources</div>
                    <div class="profile-content__upload-files__hint">(Example: X-Ray, Biopsy, Medical Exam...)</div>
                </div>
                <div ng-if="!ProfileViewCtrl.isOutSide()" ngf-multiple="true" name="file" ngf-pattern="'image/*,application/pdf'" ngf-max-size="20MB" ng-model="DefaultItemCtrl.item.file" ngf-change="DefaultItemCtrl.change($file)" ngf-select ngf-drop ngf-drag="drag($isDragging, $class, $event)" ngf-drag-over-class="dragover"
                    class="profile-content__upload-files__dnd-area drop-box" layout="column" layout-align="center center">
                    <div class="profile-content__upload-dnd-area__icon">
                        <md-icon ng-if="!DefaultItemCtrl.item.file" md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                        <md-icon style="color:green" ng-if="DefaultItemCtrl.item.file" md-svg-icon="sosid:uploaded" aria-label="Upload"></md-icon>
                    </div>
                    <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                    <div ng-if="!DefaultItemCtrl.item.file" class="profile-content__upload-files__dnd-area__hint">Your files here or
                        <span>browse</span>
                    </div>
                    <div ng-if="DefaultItemCtrl.item.file" class="profile-content__upload-files__dnd-area__hint">
                        {{DefaultItemCtrl.item.file.name}}
                    </div>
            </div>
    </div>
    <div ng-if="!ProfileViewCtrl.isOutSide()" layout="row" ng-hide="DefaultItemCtrl.disableFields">
        <md-button flex ng-click="DefaultItemCtrl.save()" ng-disabled="form.$invalid " class="md-raised md-primary">{{ 'ACTIONS.SAVE' | translate}}
        </md-button>
        <md-button flex class="me-raised" ng-click="DefaultItemCtrl.cancel()">{{ 'ACTIONS.CANCEL' | translate}}
        </md-button>
    </div>
    </form>
    </div>
</content-item-box>
