<div class="organ-donation-view" flex="100">
    <div class="profile-content__header" flex="100" layout="row" layout-align="space-between center">
        <div>
            <span>{{ 'PRIVATE.PROFILE.MY_RECORDS' | translate }}</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ 'PRIVATE.PROFILE.ORGAN DONON CARD.PAGE_TITLE' | translate }}</span>
        </div>
    </div>

    <div flex="100" class="personal-data__basic-informations profile-content__box profile-content__box-edit">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>{{ 'PRIVATE.PROFILE.ORGAN DONON CARD.PAGE_TITLE' | translate }}</h3>
            </div>
        </div>
        <div layout="row" flex="100">
            <div layout="column" flex="100">
                <form name="saveOrganDononCard">
                    <div layout="row" flex="100">
                        <md-radio-group ng-model="doctor.option" flex="100">
                            <md-radio-button value="1" class="md-primary">Yes, I allow after medical finding my death my body organs and tissues are removed</md-radio-button>
                            <md-radio-button value="2" class="md-primary">Yes, I authorise this, except for following organs/tissues:</md-radio-button>
                            <div flex="100">
                                <md-chips flex="100"
                                          ng-model="OrganDonationViewCtrl.tags"
                                          readonly="OrganDonationViewCtrl.readonly"
                                          placeholder="+Organ/tissue and press &#x23ce;"
                                          delete-button-label="Remove Tag"
                                          delete-hint="Press delete to remove tag"
                                          secondary-placeholder="+Organ/tissue &#x23ce;"></md-chips>
                            </div>
                            <md-radio-button value="3" class="md-primary">Yes, Iallow this, but only for the following organs/tissues:</md-radio-button>
                            <md-radio-button value="4" class="md-primary">No, I contradict a removal of organs or tissues.</md-radio-button>
                            <md-radio-button value="5" class="md-primary">About Yes or No then the following person should decide:</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:firstName" flex="33" class="md-block">
                            <input ng-model="doctor.firstName">
                        </md-input-container>

                        <md-input-container nx-model-attribute="EmergencyContact:lastName" flex="33" class="md-block">
                            <input ng-model="doctor.lastName">
                        </md-input-container>

                        <md-input-container nx-model-attribute="EmergencyContact:relationship" flex="33">
                            <input ng-model="doctor.medicalSpeciality">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:mobilePhone" flex="33">
                            <input ng-model="doctor.mobilePhone">
                        </md-input-container>
                        <md-input-container nx-model-attribute="EmergencyContact:phone" flex="33">
                            <input ng-model="doctor.telefonPhone">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:email" flex="50" class="md-block">
                            <input ng-model="doctor.email">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container nx-model-attribute="EmergencyContact:address" flex="100" class="md-block">
                            <textarea ng-model="doctor.clinicAddress"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="column" class="profile-content__upload-files">
                        <div layout="row" class="profile-content__upload-files__header">
                            <!--Todo: Mapear tradução-->
                            <div class="profile-content__upload-files__title">Resource</div>
                            <div class="profile-content__upload-files__hint">(Upload your living will card)</div>
                        </div>
                        <div class="profile-content__upload-files__dnd-area" layout="column" layout-align="center center">
                            <div class="profile-content__upload-dnd-area__icon">
                                <md-icon md-svg-icon="sosid:upload" aria-label="Upload"></md-icon>
                            </div>
                            <div class="profile-content__upload-files__dnd-area__title">Drag and Drop</div>
                            <div class="profile-content__upload-files__dnd-area__hint">Your files here or <span>browse</span></div>
                        </div>
                    </div>
                    <div layout="row">
                        <md-button ng-disabled="saveOrganDononCard.$invalid " class="md-raised md-primary">{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</md-button>
                        <md-button class="me-raised">{{ 'SAVE' | translate }}</md-button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>