.change-password-view {

}

.setting__change-password {
  .setting__change-password__form {
    width: 100%;
    max-width: 360px;
    margin-top: 60px;
    @media screen and (max-width: 600px) {
      width: 90%;
      margin-top: 30px;
    }
  }
  .md-button.md-raised {
    display: block;
    width: 100%;
    margin: 0;
    height: 54px;
    box-shadow: none!important;
  }
}

.settings__header__toggle-menu-mobile {
  min-width: 36px !important;
  margin: 0;
  margin-right: 5px;
  display: none;
  @media screen and (max-width: 600px) {
    display: inline-block;
  }
  md-icon {
    color: #fff;
    width: 24px;
    height: 24px;
  }
}