<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <div class="profile-content__header" layout="row" layout-align="space-between center">
        <div>
            <a ui-sref="profile.personalData">
                <md-button class="settings__header__toggle-menu-mobile">
                    <md-icon md-svg-icon="navigation:arrow_back" aria-label="Arrow Back"></md-icon>
                </md-button>
            </a>
            <span>My Settings</span>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{ChangePasswordViewCtrl.viewName}}</span>
        </div>
    </div>
    <div layout="column" layout-align="start center" class="setting__change-password">
        <form name="changePassword" class="setting__change-password__form">
            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input ng-model="ChangePasswordViewCtrl.oldPassword" type="password">
            </md-input-container>
            <md-input-container class="md-block">
                <label>New Password</label>
                <input ng-model="ChangePasswordViewCtrl.newPassword" type="password">
            </md-input-container>
            <md-button type="submit" ng-click="ChangePasswordViewCtrl.passwordChange(ChangePasswordViewCtrl.password)" class="md-raised md-primary submit-button" ng-disabled="changePassword.$invalid " aria-label="login">
                Change Password
            </md-button>
        </form>
    </div>
</div>
