<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <div class="profile-content__header" layout="row" layout-align="space-between center">
        <div>
            <a ui-sref="profile.personalData">
                <md-button class="settings__header__toggle-menu-mobile">
                    <md-icon md-svg-icon="navigation:arrow_back" aria-label="Arrow Back"></md-icon>
                </md-button>
            </a>
            <a href="profile.personalData" style="color: #fff;">
                <span class="profile-content__header__title" ui-sref="profile.personalData">Home</span>
            </a>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">{{"PRIVATE.SETTINGS.CHANGEPASSWORD.TITLE" | translate}}</span>
        </div>
    </div>
    <div layout="column" layout-align="start center" class="setting__change-password">
        <form name="changePassword" class="setting__change-password__form">
            <md-input-container class="md-block">
                <label>{{"PRIVATE.SETTINGS.CHANGEPASSWORD.OLDPASSWORD" | translate}}</label>
                <input ng-model="password.oldPassword" type="password">
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{"PRIVATE.SETTINGS.CHANGEPASSWORD.NEWPASSWORD" | translate}}</label>
                <input ng-model="password.password" type="password">
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{"PRIVATE.SETTINGS.CHANGEPASSWORD.CONFIRMPASSWORD" | translate}}</label>
                <input ng-model="password.confirmPassword" type="password">
            </md-input-container>
            <md-button type="submit" ng-click="ChangePasswordViewCtrl.passwordChange(password)" class="md-raised md-primary submit-button" ng-disabled="changePassword.$invalid || password.confirmPassword!==password.password" aria-label="login">
              {{"PRIVATE.SETTINGS.CHANGEPASSWORD.TITLE" | translate}}
            </md-button>
        </form>
    </div>
</div>
