<div class="personal-data-view" layout="column" layout-align="space-between stretch" ng-controller="SubscriptionUpgradeViewController as SubUpCtrl">
    <div class="profile-content__header" layout="row" layout-align="space-between center">
        <div>
            <a ui-sref="profile.personalData">
                <md-button class="settings__header__toggle-menu-mobile">
                    <md-icon md-svg-icon="navigation:arrow_back" aria-label="Arrow Back"></md-icon>
                </md-button>
            </a>
            <a href="profile.personalData" style="color: #fff;">
                <span class="profile-content__header__title" ui-sref="profile.personalData">Home</span>
            </a>
            <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            <span class="profile-content__header__title">Upgrade Plan</span>
        </div>
    </div>
    <div layout="column" class="plans">
        <div class="plans__header" layout="column">
            <div layout="column" layout-align="center center" class="plans__title">Test the SOS-ID platform for 30 days free</div>
            <div layout="column" layout-align="center center" ng-controller="WelcomeController as WelcomeController">
                <button ng-click="WelcomeController.startTrial()" layout-a style="width:30%" class="plans__button md-primary md-raised md-button"> START NOW 30 DAY FOR FREE </button>
            </div>
        </div>

        <div layout="row" flex>
            <div flex>
                <md-divider layout="column" style="width:90%; border-width:2px; border-color:silver; margin:auto"> </md-divider>
            </div>
            <div style="margin-top:-8px; color:silver">
                or
            </div>
            <div flex>
                <md-divider layout="column" style="width:90%; border-width:2px; border-color:silver;  margin:auto"></md-divider>
            </div>

        </div>

        <div class="plans__header">
            <div class="plans__title">Way to go! You're ready for an upgrade!</div>
            <div class="plans__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio ducimus, enim eum libero odit quae quia reiciendis saepe. Accusamus assumenda autem consequatur ex exercitationem explicabo hic nostrum tempore vel!</div>
        </div>
        <div layout="row" layout-xs="column" flex class="plans__list">


            <div class="plans__item plans__item__basic" style="margin:2px; padding: 10px" ng-class="{'plans__actual': SubUpCtrl.actual.trim().toLowerCase() === 'basic' }" flex-gt-xs="33">
                <div class="plans__highlight">
                    <div class="plans__highlight__header">
                        <div ng-show="SubUpCtrl.actual.trim().toLowerCase() === 'basic'" class="plans__highlight__header__subtitle">Your current plan</div>
                        <div ng-hide="SubUpCtrl.actual.trim().toLowerCase() === 'basic'" class="plans__highlight__header__subtitle">Available</div>

                        <div class="plans__highlight__header__title">Basic</div>
                        <div class="plans__highlight__header__price">
                            <span class="plans__highlight__header__price__value">6</span>
                            <span class="plans__highlight__header__price__unit">€</span>
                        </div>
                        <div class="plans__highlight__header__hint">per anually</div>
                    </div>
                    <div class="plans__highlight__footer">
                        <div class="plans__highlight__footer__txt-normal">
                            <md-icon md-svg-icon="action:add_shopping_cart" aria-label="shopping cart"></md-icon>
                            <span>more or equal than 19,99€</span>
                        </div>
                        <div class="plans__highlight__footer__txt-bold">Two years free</div>
                    </div>
                </div>
                <div class="plans__button-container">
                    <button ng-click="SubUpCtrl.upgradePlan('basic')" ng-disabled="SubUpCtrl.actual.trim().toLowerCase() === 'basic'" class="plans__button plans__button_basic md-primary md-raised md-button" style="margin-left:0px; color:white !important">Buy Anual Basic Plan</button>
                </div>
                <div class="plans__includes">
                    <div class="plans__includes__header">
                        <div class="plans__includes__header__title">Basic Includes</div>
                        <div class="plans__includes__header__subtitle">25MB of Data storage</div>
                    </div>
                    <div class="plans__includes__list">
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.personalData }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.personalData }" layout="row" layout-align="space-between center">
                                <span>Personal Data*</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('basic','1')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.personalData">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.emergencyContact }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.emergencyContact }" layout="row" layout-align="space-between center">
                                <span>Emergency Contacts**</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('basic','2')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.emergencyContact">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.cardPrint }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.cardPrint }" layout="row" layout-align="space-between center">
                                <span>SOSID Card Print</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('basic','3')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.cardPrint">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plans__item plans__item__standard" style="margin:2px; padding: 10px" ng-class="{'plans__actual': SubUpCtrl.actual.trim().toLowerCase() === 'standard' }" flex-gt-xs="33">
                <div class="plans__highlight">
                    <div class="plans__highlight__header">
                        <div ng-show="SubUpCtrl.actual.trim().toLowerCase() === 'standard'" class="plans__highlight__header__subtitle">Your current plan</div>
                        <div ng-hide="SubUpCtrl.actual.trim().toLowerCase() === 'standard'" class="plans__highlight__header__subtitle">Available</div>
                        <div class="plans__highlight__header__title">Standard</div>
                        <div class="plans__highlight__header__price">
                            <span class="plans__highlight__header__price__value">12</span>
                            <span class="plans__highlight__header__price__unit">€</span>
                        </div>
                        <div class="plans__highlight__header__hint">per anually</div>
                    </div>
                    <div class="plans__highlight__footer">
                        <div class="plans__highlight__footer__txt-normal">
                            <md-icon md-svg-icon="action:add_shopping_cart" aria-label="shopping cart"></md-icon>
                            <span>more or equal than 19,99€</span>
                        </div>
                        <div class="plans__highlight__footer__txt-bold">First year free</div>
                    </div>
                </div>
                <div class="plans__button-container">
                    <button ng-click="SubUpCtrl.upgradePlan('standard')" ng-disabled="SubUpCtrl.actual.trim().toLowerCase() === 'standard'" class="plans__button md-primary md-raised md-button" style="margin-left:0px; color:white !important">Buy Anual Standard Plan</button>
                </div>
                <div class="plans__includes">
                    <div class="plans__includes__header">
                        <div class="plans__includes__header__title">Standard Includes</div>
                        <div class="plans__includes__header__subtitle">500MB of Data storage</div>
                    </div>
                    <div class="plans__includes__list">
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.personalDataS }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.personalDataS }" layout="row" layout-align="space-between center">
                                <span>Personal Data*</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('standard','1')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.personalDataS">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.emergencyContactS }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.emergencyContactS }" layout="row" layout-align="space-between center">
                                <span>Emergency Contacts**</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('standard','2')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.emergencyContactS">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.doctorsS }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.doctorsS }" layout="row" layout-align="space-between center">
                                <span>Doctors</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('standard','3')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.doctorsS">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.healthConditionS }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.healthConditionS }" layout="row" layout-align="space-between center">
                                <span>Health Conditions</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('standard','4')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.healthConditionS">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.cardPrintStd }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.cardPrintStd }" layout="row" layout-align="space-between center">
                                <span>SOSID Card Print</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('standard','5')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle " ng-show="SubUpCtrl.cardPrintStd ">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:2px; padding: 10px" class="plans__item plans__item__premium" ng-class="{'plans__actual': SubUpCtrl.actual.trim().toLowerCase() === 'premium' }" flex-gt-xs="33">
                <div class="plans__highlight">
                    <div class="plans__highlight__header">
                        <div ng-show="SubUpCtrl.actual.trim().toLowerCase() === 'premium'" class="plans__highlight__header__subtitle">Your current plan</div>
                        <div ng-hide="SubUpCtrl.actual.trim().toLowerCase() === 'premium'" class="plans__highlight__header__subtitle">Available</div>

                        <div class="plans__highlight__header__title">Premium</div>
                        <div class="plans__highlight__header__price">
                            <span class="plans__highlight__header__price__value">24</span>
                            <span class="plans__highlight__header__price__unit">€</span>
                        </div>
                        <div class="plans__highlight__header__hint">per anually</div>
                    </div>
                    <div class="plans__highlight__footer">
                        <div class="plans__highlight__footer__txt-normal">
                            <md-icon md-svg-icon="action:add_shopping_cart" aria-label="shopping cart"></md-icon>
                            <span>more or equal than 19,99€</span>
                        </div>
                        <div class="plans__highlight__footer__txt-bold">First year with 50%</div>
                    </div>
                </div>
                <div class="plans__button-container">
                    <button ng-click="SubUpCtrl.upgradePlan('premium')" ng-disabled="SubUpCtrl.actual.trim().toLowerCase() === 'premium'" class="plans__button plans__button_premium md-primary md-raised md-button" style="margin-left:0px; color:white !important">Buy Anual Premium Plan</button>
                </div>
                <div class="plans__includes">
                    <div class="plans__includes__header">
                        <div class="plans__includes__header__title">Premium Includes</div>
                        <div class="plans__includes__header__subtitle">2GB of Data storagE</div>
                    </div>
                    <div class="plans__includes__list">
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.personalDataP }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.personalDataP }" layout="row" layout-align="space-between center">
                                <span>Personal Data*</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','1')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.personalDataP">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.emergencyContactP }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.emergencyContactP }" layout="row" layout-align="space-between center">
                                <span>Emergency Contacts**</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','2')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.emergencyContactP">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.doctorsP }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.doctorsP }" layout="row" layout-align="space-between center">
                                <span>Doctors</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','3')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.doctorsP">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.healthConditionP }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.healthConditionP }" layout="row" layout-align="space-between center">
                                <span>Health Condition</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','7')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.healthConditionP">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.allergies }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.allergies }" layout="row" layout-align="space-between center">
                                <span>Allergies</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','4')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.allergies">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.medications }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.medications }" layout="row" layout-align="space-between center">
                                <span>Medications</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','5')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.medications">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.healthInsurance }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.healthInsurance }" layout="row" layout-align="space-between center">
                                <span>Health Insurance</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','6')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.healthInsurance">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>

                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.livingWill }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.livingWill }" layout="row" layout-align="space-between center">
                                <span>Living Will</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','8')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.livingWill">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.organDononCard }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.organDononCard }" layout="row" layout-align="space-between center">
                                <span>Organ Donon Card</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','9')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.organDononCard">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.glassesPass }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.glassesPass }" layout="row" layout-align="space-between center">
                                <span>Glasses Pass</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','10')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.glassesPass">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                        <div style="margin-top: 10px" ng-class="{'plans__includes__header' : SubUpCtrl.cardPrintPr }">
                            <div ng-class="{'plans__includes__list__item' : !SubUpCtrl.cardPrintPr }" layout="row" layout-align="space-between center">
                                <span>SOSID Card Print</span>
                                <md-button flex="15" class="md-icon-button" ng-click="SubUpCtrl.changeExibition('premium','11')">
                                    <md-icon style="color:gray" md-svg-icon="sosid:arrow_down_drop_circle_outline"></md-icon>
                                </md-button>
                            </div>
                            <div class="plans__includes__header__subtitle" ng-show="SubUpCtrl.cardPrintPr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloremque ducimus eos esse impedit, maiores, maxime mollitia provident.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
