<md-dialog layout="column" flex="100" class="sosid-modal welcome" style="top;0; height:100%; background-color: #00A2D3; opacity: 0.92; ">
    <div layout="row" style="margin-top:-50px; max-height:50px " layout-align="end start" flex>
        <md-button style="background: transparent !important" layout-align="start end" ng-disabled="!vm.hasPlan()" layout="column" flex="5" ng-controller="PrivacyController as vm" ng-click="vm.hide()">
            <md-icon style="background-color:white" class="buttonClose" md-svg-icon="navigation:close" aria-label="close "></md-icon>
        </md-button>
    </div>
    <div flex class="modal__header" layout-align="center center" layout="row">
        <div layout="column">
            <h1 class="modal__title" style="color:#ffffff">Congratulations!</h1>
            <h2 class="modal__subtitle" style="color:rgb(23.59,69)">Your plan has been activated</h2>
        </div>
    </div>
</md-dialog>
