body, html {
  -webkit-font-smoothing: subpixel-antialiased;

}

md-select.md-default-theme[disabled] .md-select-value, md-select[disabled] .md-select-value {
  color: gray;
  background-image: none !important;
}