<div class="new-input-container" flex>

    <div class='input-label-area' layout="row" layout-align="start center" tabindex="-1" ng-class="{'no-label': container.noLabel, 'small-label': container.smallLabel, 'disabled': container.disabled }">

        <label flex ng-hide="container.noLabel" for="{{::container.labelFor}}" class="label md-caption" ng-bind="::container.label | translate" ng-class="{invalid: (container.ngModel.$dirty || container.ngModel.$touched) && container.ngModel.$invalid}"></label>

        <div layout="row" layout-align="end center" flex>
            <div class="control" ng-show="container.buttonType() === 'edit'" tabindex="-1">
                <!--<md-icon md-svg-icon="image:edit" class="input-control-icon" ng-click="container.focus()"  tabindex="-1"></md-icon>-->
            </div>

            <div class="control submitted" ng-show="container.buttonType() === 'submitted'">
                <!--<md-icon md-svg-icon="action:done" class="icon-submitted"></md-icon>-->
            </div>

            <div class="control" ng-show="container.buttonType() === 'submit'" tabindex="-1">
                <md-button class="md-mini md-icon-button md-raised input-control-button"
                           aria-label="ação em input"
                           hm-acl-no-action tabindex="-1">
                    <!--<md-icon md-svg-icon="action:done" class="input-control-icon"></md-icon>-->
                </md-button>
            </div>
        </div>

    </div>

    <div class="input-not-inline-position" tabindex="-1">
        <main>
            <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="container.isLoading"></md-progress-linear>
        </main>
    </div>

    <div class="hm-validation-messages"  ng-show="container.ngModel.$dirty || container.ngModel.$touched || !isFormTypeCreate" role="alert">
        <div class="hm-validation-error" ng-repeat="(key, value) in container.validationMessages" ng-bind="value.message" ng-show="container.ngModel.$error[key]"></div>
        <!--<div class="hm-validation-error" ng-show="container.ngModel.$error.invalidSelection">Selecione um item válido</div>-->
    </div>

</div>