<md-content layout="row" flex="100" layout-align="center center" class="login__container">
    <div layout="column" flex="60" flex-xs="100" flex-gt-md="50" class="login-box__container">
        <div class="login-box" layout="column" layout-align="start center">
            <h1 class="title" translate="PUBLIC.LOGIN.TITLE"></h1>
            <!--<h2 class="sub-title" translate="PUBLIC.LOGIN.SUB_TITLE"> </h2>-->
            <form name="loginForm">
                <div layout="column" class="form">
                    <md-input-container nx-model-attribute="User:email">
                        <input type="text" ng-model="LoginCtrl.credentials.email" name="your-email" nx-ignore-validations="unique">
                    </md-input-container>
                    <md-input-container nx-model-attribute="User:password">
                        <input type="password" ng-model="LoginCtrl.credentials.password" name="your-password" nx-ignore-validations="len,password">
                    </md-input-container>
                    <div layout="row" layout-align="end center">
                        <a ui-sref="forgotPassword()" class="forgot-link" translate="PUBLIC.LOGIN.FORGOT_PASSWORD_LINK"></a>
                    </div>

                    <md-button type="submit" class="md-raised md-primary submit-button" ng-click="LoginCtrl.submit()" ng-disabled="loginForm.$invalid || LoginCtrl.isLoading" translate="PUBLIC.LOGIN.SUBMIT_BUTTON" aria-label="login">
                    </md-button>

                    <p class="error" ng-show="LoginCtrl.err">{{ LoginCtrl.message | translate }}</p>
                    <p class="error" ng-show="LoginCtrl.sendEmail">{{ 'PUBLIC.LOGIN.SENT_REGISTRATION_LINK' | translate }}</p>
                </div>
            </form>
            <md-divider style="width:100%"></md-divider>
            <p class="normal-text"> {{ 'PUBLIC.LOGIN.FOOTER_TEXT' | translate }} <a ui-sref="createAccount()" class="normal-link"> {{ 'PUBLIC.LOGIN.CREATE_NEW_ACCOUNT_LINK' | translate }} </a> </p>
        </div>
    </div>
</md-content>
