.confirm-remove-alert {
  padding: 20px 20px 30px 20px;
  max-width: 340px;
  width: 80%;
  md-toolbar {
    min-height: 50px;
    height: 50px;
    max-height: 50px;

    .confirm-remove-alert-header {
      height: 50px;
      background-color: white;
      max-height: 50px;
      text-align: center;

      md-icon {
        margin: 0 5px 0 24px;
        color: #fff;
        opacity: 0.8;
      }

      .confirm-remove-alert-title {
        font-size: 28px;
        color: #001621;
        opacity: 0.8;
        font-weight: 300;
        height: 19px;
      }
    }
  }

  .confirm-remove-alert-content {
    margin-top: 10px;
    width: 95%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding: 3px 0 0 0;
    color: rgba(0, 22, 33, 0.33);
    text-align: center;
  }

  md-dialog-actions {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    .cancel-button {
      color: #494e56;
      background: #E0E3E3;
    }

    .remove-button {
      color: white;
      background-color: #00A2D3!important;
    }
  }

}

md-dialog md-dialog-actions .md-button {
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}