<md-content style="overflow-x:hidden" class="profile-view" layout="column" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <div layout="column" class="profile__menu">
            <ul>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Personal Data']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                    <a ui-sref="profile.personalData">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Personal Data']}" md-svg-icon="sosid:personal_data" style="color: #00A2D3;width:32px;height:32px;" aria-label="User"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Personal Data']}">Personal Data</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Emergency Contact']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                    <a ui-sref="profile.emergencyContacts">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Emergency Contact']}" md-svg-icon="sosid:emergency_contacts" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Emergency Contact']}">Emergency Contacts</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Doctor']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                    <a ui-sref="profile.doctors">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Doctor']}" md-svg-icon="sosid:doctors" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Doctor']}">Doctors</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Conditions']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                    <a ui-sref="profile.healthConditions">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Conditions']}" md-svg-icon="sosid:health_conditions" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Conditions']}">Health Conditions</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Allergies']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                    <a ui-sref="profile.allergies">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Allergies']}" md-svg-icon="sosid:allergies" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Allergies']}">Allergies</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Medications']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                    <a ui-sref="profile.medications">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Medications']}" md-svg-icon="sosid:medications" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Medications']}">Medications</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Insurance']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                    <a ui-sref="profile.healthInsurance">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Insurance']}" md-svg-icon="sosid:health_insurance" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Insurance']}">Health Insurance</span>
                    </a>
                </li>

                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Living Will']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                    <a ui-sref="profile.livingWill">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Living Will']}" md-svg-icon="sosid:living_will" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Living Will']}">Living Will</span>
                    </a>
                </li>
                <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Organ Donator Card']}" ui-sref-active="active" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                    <a ui-sref="profile.organCard">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Organ Donator Card']}" md-svg-icon="sosid:organ_donon_card" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Organ Donator Card']}">Organ Donon Card</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Glasses Pass']}" ng-click="MasterViewCtrl.close()">
                    <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                    <a ui-sref="profile.glassesPass">
                        <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Glasses Pass']}" md-svg-icon="sosid:glasses_pass" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                        <span ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Glasses Pass']}">Glasses Pass</span>
                    </a>
                </li>
            </ul>
        </div>
    </md-sidenav>
    <div layout="row" layout-align="center stretch" class="topbar" hide-xs="true">
        <div layout="row" layout-align="space-between start" class="topbar__container">
            <div layout="row" layout-align="start center" class="topbar__profile-resume">
                <div class="personal-data__avatar" style="background-color:transparent" layout="column" flex="none" layout-align="center center">
                    <div layout="column">
                        <div class="personal-data__avatar__img-container">
                            <progress-circle></progress-circle>
                        </div>
                    </div>
                </div>
                <div style="padding:15px" layout="column" layout-align="center stretch" class="profile-resume__data">
                    <div class="profile-resume__data__name">
                        <span class="profile-resume__data__name_first-name">{{ProfileViewCtrl.Session.user.profile._getCommittedField('firstName')}}</span>
                        <span class="profile-resume__data__name_first-name">{{ProfileViewCtrl.Session.user.profile._getCommittedField('lastName')}}</span>
                    </div>
                    <div class="profile-resume__data-list" layout="row">
                        <div class="profile-resume__data-item" layout="column" ng-if="ProfileViewCtrl.Session.user.profile._getCommittedField('age')">
                            <div class="profile-resume__data-field">Age</div>
                            <div class="profile-resume__data-value">{{ProfileViewCtrl.Session.user.profile._getCommittedField('age')}}</div>
                        </div>
                        <div class="profile-resume__data-item" layout="column" ng-if="ProfileViewCtrl.Session.user.profile._getCommittedField('gender')">
                            <div class="profile-resume__data-field">Gender</div>
                            <div class="profile-resume__data-value">{{ 'MODELS.USER PROFILE.ATTRIBUTES.GENDER.OPTIONS.' + ProfileViewCtrl.Session.user.profile._getCommittedField('gender') | translate }}</div>
                        </div>
                        <div class="profile-resume__data-item" layout="column" ng-if="ProfileViewCtrl.Session.user.profile._getCommittedField('address')">
                            <div class="profile-resume__data-field">address</div>
                            <div class="profile-resume__data-value">
                                {{ProfileViewCtrl.Session.user.profile._getCommittedField('address')}}
                            </div>
                        </div>
                        <div class="profile-resume__data-item" layout="column" ng-if="ProfileViewCtrl.Session.user.profile._getCommittedField('bloodType')">
                            <div class="profile-resume__data-field">Blood Type</div>
                            <div class="profile-resume__data-value">{{ProfileViewCtrl.Session.user.profile._getCommittedField('bloodType')}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="topbar__profile-nav">
                <div class="topbar__profile-nav__link" layout="column" layout-align="center center" ng-click="ProfileViewCtrl.showPrivacySettings($event)">
                    <md-button aria-label="Eat cake" class="md-icon-button">
                        <md-icon md-svg-icon="sosid:settings_privacy" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                    </md-button>
                    <div class="topbar__profile-nav__link__text">Privacy Settings</div>
                </div>
                <div class="topbar__profile-nav__link" layout="column" layout-align="center center" ng-click="ProfileViewCtrl.showPrintCard($event)">
                    <md-button aria-label="Eat cake" class="md-icon-button">
                        <md-icon md-svg-icon="sosid:print_card" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                    </md-button>
                    <div class="topbar__profile-nav__link__text">Print your card</div>
                </div>
                <div class="topbar__profile-nav__link" layout="column" layout-align="center center" ng-click="ProfileViewCtrl.showWelcome($event)">
                    <md-button aria-label="Eat cake" class="md-icon-button">
                        <md-icon md-svg-icon="sosid:buy_products" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                    </md-button>
                    <div class="topbar__profile-nav__link__text">Buy
                        <br>Products</div>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center stretch" class="content profile-content">
        <div layout="row" layout-align="space-between start" class="profile-content__container">
            <div layout="column" flex="20" class="profile-sidebar profile__menu" hide-xs="true">
                <div layout="row" layout-align="start center" class="categories-resume">
                    <div layout="row" class="categories-resume__icon">
                        <md-icon md-svg-icon="action:done_all" style="width:32px;height:32px;" aria-label="User"></md-icon>
                    </div>
                    <div layout="column" flex="75">
                        <div class="categories-resume__detailed">
                            <span>{{ProfileViewCtrl.Session.user.profile.categoriesFilled}} of {{ProfileViewCtrl.Session.user.profile.plan.plans.categories.length}} completed</span>
                        </div>
                        <div>
                            <div class="categories-resume__bar">
                                <div class="categories-resume__bar__percent" style="width: {{ProfileViewCtrl.Session.user.profile.categoriesFilled/ProfileViewCtrl.Session.user.profile.plan.plans.categories.length * 100}}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <span class="categories-resume__percent">{{ProfileViewCtrl.Session.user.profile.categoriesFilled/ProfileViewCtrl.Session.user.profile.plan.plans.categories.length * 100}}%</span>
                    </div>
                </div>
                <div layout="column">
                    <ul>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Personal Data']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                            <a ui-sref="profile.personalData">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Personal Data']}" md-svg-icon="sosid:personal_data" style="color: #00A2D3;width:32px;height:32px;" aria-label="User"></md-icon>
                                <span>Personal Data</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Emergency Contact']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                            <a ui-sref="profile.emergencyContacts">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Emergency Contact']}" md-svg-icon="sosid:emergency_contacts" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Emergency Contacts</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Doctor']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                            <a ui-sref="profile.doctors">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Doctor']}" md-svg-icon="sosid:doctors" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Doctors</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Conditions']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                            <a ui-sref="profile.healthConditions">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Conditions']}" md-svg-icon="sosid:health_conditions" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Health Conditions</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Allergies']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                            <a ui-sref="profile.allergies">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Allergies']}" md-svg-icon="sosid:allergies" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Allergies</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Medications']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__done"><md-icon md-svg-icon="sosid:is_completed_done" aria-label="completed"></md-icon></span>
                            <a ui-sref="profile.medications">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Medications']}" md-svg-icon="sosid:medications" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Medications</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Insurance']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                            <a ui-sref="profile.healthInsurance">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Health Insurance']}" md-svg-icon="sosid:health_insurance" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                                <span>Health Insurance</span>
                            </a>
                        </li>

                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Living Will']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                            <a ui-sref="profile.livingWill">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Living Will']}" md-svg-icon="sosid:living_will" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                                <span>Living Will</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Organ Donator Card']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                            <a ui-sref="profile.organCard">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Organ Donator Card']}" md-svg-icon="sosid:organ_donon_card" style="color: #00A2D3;width:32px;height:32px;" aria-label="Hearth Organ"></md-icon>
                                <span>Organ Donor Card</span>
                            </a>
                        </li>
                        <li ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Glasses Pass']}" ui-sref-active="active">
                            <span class="profile-menu__is-completed profile-menu__is-completed__undone"><md-icon md-svg-icon="sosid:is_completed_undone" aria-label="incompleted"></md-icon></span>
                            <a ui-sref="profile.glassesPass">
                                <md-icon ng-class="{disabled: !ProfileViewCtrl.categoriesEnabled['Glasses Pass']}" md-svg-icon="sosid:glasses_pass" style="color: #00A2D3;width:32px;height:32px;" aria-label="Doctors"></md-icon>
                                <span>Glasses Pass</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="data-storage__container" layout="column">
                    <div class="data-storage__header" layout="row" layout-align="space-between center">
                        <div layout="column">
                            <span class="data-storage__title">Data Storage</span>
                        </div>
                        <div layout="column" flex="50" ui-sref="settings.subscriptionUpgrade">
                            <md-button class="upgrade-button">Upgrade</md-button>
                        </div>
                    </div>
                    <div layout="column" class="data-storage__content">
                        <div layout="row"><span class="data-storage__data-text">{{ProfileViewCtrl.usedStorage}}MB of {{ProfileViewCtrl.planStorageSpace}}MB Used</span></div>
                        <div layout="row" class="data-storage__data-chart">
                            <div class="data-storage__bar">
                                <div class="data-storage__bar__percent" style="width: {{ProfileViewCtrl.percentUsedStorage}}%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partial-content" flex layout="column">
                <div class="profile-content__header" layout="row" layout-align="space-between center">
                    <div>
                        <span>
                            <toggle-menu-mobile></toggle-menu-mobile>
                        </span>
                        <span>{{ 'PRIVATE.PROFILE.MY_RECORDS' | translate }}</span>
                        <md-icon md-svg-icon="hardware:keyboard_arrow_right" style="color: #fff;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                        <span class="profile-content__header__title" translate="{{ProfileViewCtrl.pageTitle}}"></span>
                    </div>
                    <div class="profile-content__header__button" ng-if="ProfileViewCtrl.contentHeader.button.show()">
                        <md-button class="md-raised" ng-click="ProfileViewCtrl.contentHeader.button.fn()">
                            <md-icon md-svg-icon="content:add" aria-label="Plus signal"></md-icon>
                            <span hide-sm translate="{{ProfileViewCtrl.contentHeader.button.name}}"></span>
                        </md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" class="profile-content__loader" ng-show="ProfileViewCtrl.isLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <ui-view ng-hide="ProfileViewCtrl.isLoading"></ui-view>
            </div>
        </div>
    </div>
</md-content>
