<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <user-basic-info></user-basic-info>
    <user-plan ng-if="!ProfileViewCtrl.isOutSide()"></user-plan>
    <emergency-messages ng-if="!ProfileViewCtrl.isOutSide()"></emergency-messages>
    <family-doctor ng-if="!ProfileViewCtrl.isOutSide()"></family-doctor>
    <product ng-if="!ProfileViewCtrl.isOutSide()"></product>
    <user-resources ng-if="!ProfileViewCtrl.isOutSide()"></user-resources>
    <div ng-if="!ProfileViewCtrl.isOutSide()" layout="row" layout-xs="column" class="hot-button__container">
        <div layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div ng-click="PersonalDataViewCtrl.showPrintCard($event)" layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <md-icon md-svg-icon="sosid:print_card" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                </div>
                <div layout="column" layout-align="center start">
                    <div class="hot-button__title__container"><span class="hot-button__title">
                      {{"PRIVATE.PROFILE.PRINT CARD.BUTTON" | translate }}</span></div>
                </div>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
        <div  layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div  href="https://sosid.pimentagroup.de/shop"  layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <a  href="https://sosid.pimentagroup.de/shop"  style="color: white;" >
                        <md-icon  md-svg-icon="sosid:buy_products" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                    </a>
                </div>
                <a  href="https://sosid.pimentagroup.de/shop"  style="color: white; text-decoration:none;  " href="https://sosid.pimentagroup.de/shop">
                    <div href="https://sosid.pimentagroup.de/shop" layout="column" layout-align="center start">
                        <div class="hot-button__title__container"><span class="hot-button__title">{{"PRIVATE.PROFILE.BUY PRODUCTS.BUTTON" | translate}}</span></div>
                    </div>
                </a>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
    </div>
</div>
