<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <user-basic-info></user-basic-info>
    <user-plan></user-plan>
    <emergency-messages></emergency-messages>
    <family-doctor></family-doctor>
    <product></product>
    <user-resources></user-resources>
    <div layout="row" layout-xs="column" class="hot-button__container">
        <div layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <md-icon md-svg-icon="sosid:print_card" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                </div>
                <div layout="column" layout-align="center start" ng-click="PersonalDataViewCtrl.showPrintCard($event)">
                    <div class="hot-button__title__container"><span  class="hot-button__title">
                      {{"PRIVATE.PROFILE.PRINT CARD.PRINT" | translate }}</span></div>
                    <!-- <div class="hot-button__description__container"><span class="hot-button__description">Lorem ipsum sit dolor amet consectuor beneties</span></div> -->
                </div>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
        <div layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <a style="color: white;" href="http://35.156.40.94/store">
                        <md-icon md-svg-icon="sosid:buy_products" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                    </a>
                </div>
                <a style="color: white; text-decoration:none;  " href="http://35.156.40.94/store">
                    <div layout="column" layout-align="center start">
                        <div class="hot-button__title__container"><span class="hot-button__title">Buy SOS-ID Products</span></div>
                        <!-- <div class="hot-button__description__container"><span class="hot-button__description">Lorem ipsum sit dolor amet consectuor beneties</span></div> -->
                    </div>
                </a>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
    </div>
</div>
