<div class="personal-data-view" layout="column" flex="100" layout-align="space-between stretch">
    <user-basic-info></user-basic-info>
    <emergency-messages></emergency-messages>
    <family-doctor></family-doctor>
    <user-plan></user-plan>
    
    <div class="personal-data__products profile-content__box">
        <div layout="row" layout-align="space-between center" class="profile-content__box__title">
            <div>
                <h3>Products</h3>
            </div>
            <div>
                <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
            </div>
        </div>
        <div layout="row">
            <div layout="column" flex="100" class="products-list">
                <div layout="row" layout-align="space-between center" class="products-list__item" ng-repeat="i in [0,1]">
                    <div layout="row">
                        <div layout="row" class="products-list__image-container"><img src="http://placehold.it/96x65" alt=""></div>
                        <div layout="column" layout-align="center start">
                            <div layout="row" class="products-list__title">SOS CARD Id</div>
                            <div layout="row" class="products-list__more-info">Mar 15 at 8:02am</div>
                        </div>
                    </div>
                    <div layout="row">
                        <button class="products-list__toggle-privacy" ng-click="PersonalDataViewCtrl.togglePrivacy()">
                            <md-icon md-svg-icon="action:lock_{{PersonalDataViewCtrl.isPrivate ? 'outline' : 'open'}}" style="color: #00A2D3;width:8px;height:8px; min-width: 18px; min-height: 18px;" aria-label="Cake Icon"></md-icon>
                            <span hide-xs="true">{{PersonalDataViewCtrl.isPrivate ? 'Block PIN' : 'Unblock PIN'}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <user-resources></user-resources>
    <div layout="row" layout-xs="column" class="hot-button__container">
        <div layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <md-icon md-svg-icon="sosid:print_card" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                </div>
                <div layout="column" layout-align="center start">
                    <div class="hot-button__title__container"><span class="hot-button__title">Print Your Card</span></div>
                    <div class="hot-button__description__container"><span class="hot-button__description">Lorem ipsum sit dolor amet consectuor beneties</span></div>
                </div>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
        <div layout="row" flex="none" flex-gt-xs="50" layout-align="space-between center" class="hot-button">
            <div layout="row" layout-align="start center">
                <div class="hot-button__icon-left">
                    <md-icon md-svg-icon="sosid:buy_products" style="color: #00A2D3;width:56px;height:56px;" aria-label="Cake Icon"></md-icon>
                </div>
                <div layout="column" layout-align="center start">
                    <div class="hot-button__title__container"><span class="hot-button__title">Buy SOS-ID Products</span></div>
                    <div class="hot-button__description__container"><span class="hot-button__description">Lorem ipsum sit dolor amet consectuor beneties</span></div>
                </div>
            </div>
            <div class="hot-button__icon-right">
                <md-icon md-svg-icon="hardware:keyboard_arrow_right" aria-label="Arrow Right"></md-icon>
            </div>
        </div>
    </div>
</div>
