<content-item-box>
    <div layout="row" layout-align="space-between center" class="profile-content__box__title">
        <div flex-xs="90" ng-hide="DefaultItemCtrl.isCreate" flex>
            <h3>{{DefaultItemCtrl.item.firstName + ' ' + item.lastName}} <span ng-show="DefaultItemCtrl.item.speciality"> - {{DefaultItemCtrl.item.speciality}}</span></h3>
        </div>
        <div flex-xs="90" ng-show="DefaultItemCtrl.isCreate">
            <h3>{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</h3>
        </div>
        <div ng-hide="DefaultItemCtrl.isCreate">
            <md-menu md-offset="-50 50">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.enableFields()"><span md-menu-align-target>{{ "ACTIONS.EDIT" | translate}}</span></md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.remove()"><span md-menu-align-target>{{ "ACTIONS.DELETE" | translate}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div layout="row" flex="100">
        <form layout="column" flex="100" nx-disable-all="DefaultItemCtrl.disableFields || DefaultItemCtrl.isLoading" name="form">
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="EmergencyContact:firstName  " flex-gt-xs="33" flex="none" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.firstName">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:lastName" flex-gt-xs="33" flex="none" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.lastName">
                </md-input-container>
                <!-- <md-input-container nx-model-attribute="EmergencyContact:relationship" flex-gt-xs="33" flex="none">
                    <input ng-model="DefaultItemCtrl.item.relationship">
                </md-input-container> -->

                <md-menu>
                    <md-button style="text-transform: capitalize; opacity: 0.4;" class="md-raised md-block md-button md-ink-ripple" ng-click="$mdOpenMenu($event)">
                        {{DefaultItemCtrl.item.relationship || 'Relationship'}}
                    </md-button>
                    <md-menu-content width="4" ng-show="!DefaultItemCtrl.item.relationship">
                        <md-menu-item ng-repeat="rel in DefaultItemCtrl.attributes.relationship.values">
                            <md-button  ng-click="DefaultItemCtrl.set(rel)">
                                {{rel}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="EmergencyContact:mobileNumber  " flex-gt-xs="33" flex="none" class="md-block">
                <!-- <md-input-container nx-model-attribute="EmergencyContact:mobileNumber" flex-gt-xs="33" flex="none" class="md-block"> -->
                    <input ng-model="DefaultItemCtrl.item.mobileNumber">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:phoneNumber" flex-gt-xs="33" flex="none" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.phoneNumber">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:email" flex-gt-xs="50" flex="100" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.email">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:address" flex="100" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.address">
                </md-input-container>
            </div>
            <div layout="row" ng-hide="DefaultItemCtrl.disableFields">
                <md-button ng-click="DefaultItemCtrl.save()" ng-disabled="form.$invalid " class="md-raised md-primary md-block">{{ 'ACTIONS.SAVE' | translate}}
                </md-button>
                <md-button class="me-raised" ng-click="DefaultItemCtrl.cancel()">{{ 'ACTIONS.CANCEL' | translate}}
                </md-button>
            </div>
        </form>
    </div>
</content-item-box>
