<content-item-box>
    <div layout="row" flex layout-align="space-between center" class="profile-content__box__title">
        <div ng-hide="DefaultItemCtrl.isCreate" flex>
            <h3>{{DefaultItemCtrl.item.firstName + ' ' + item.lastName}} <span ng-show="DefaultItemCtrl.item.speciality"> - {{DefaultItemCtrl.item.speciality}}</span></h3>
        </div>
        <div flex="100" flex-xs="90" ng-show="DefaultItemCtrl.isCreate">
            <h3>{{ 'PRIVATE.PROFILE.EMERGENCY CONTACTS.ADD_NEW' | translate }}</h3>
        </div>
        <div ng-if="!ProfileViewCtrl.isOutSide()" ng-hide="DefaultItemCtrl.isCreate">
            <md-menu md-offset="-50 50">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="navigation:more_vert" style="color: #ccc;width:12px;height:12px;" aria-label="Cake Icon"></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.enableFields()"><span md-menu-align-target>{{ "ACTIONS.EDIT" | translate}}</span></md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="DefaultItemCtrl.remove()"><span md-menu-align-target>{{ "ACTIONS.DELETE" | translate}}</span></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div layout="row" flex="100">
        <form layout="column" flex="100" nx-disable-all="DefaultItemCtrl.disableFields || DefaultItemCtrl.isLoading || ProfileViewCtrl.isOutSide()" name="form">
            <div layout="row" layout-xs="column">
                <md-input-container nx-model-attribute="EmergencyContact:firstName  " flex-gt-xs="40" flex="none" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.firstName">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:lastName" flex-gt-xs="40" flex="none" class="md-block">
                    <input ng-model="DefaultItemCtrl.item.lastName">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:relationship" flex="20" flex-xs="100" class="md-block">
                    <md-select ng-model="DefaultItemCtrl.item.relationship" aria-label="type">
                        <md-optgroup label="{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.LABEL' | translate }}">
                            <md-option value="SINGLE PARENT">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.SINGLE PARENT' | translate }}</md-option>
                            <md-option value="SPOUSE">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.SPOUSE' | translate }}</md-option>
                            <md-option value="HUSBAND">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.HUSBAND' | translate }}</md-option>
                            <md-option value="WIFE">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.WIFE' | translate }}</md-option>
                            <md-option value="PARENT">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.PARENT' | translate }}</md-option>
                            <md-option value="FATHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.FATHER' | translate }}</md-option>
                            <md-option value="MOTHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.MOTHER' | translate }}</md-option>
                            <md-option value="CHILD">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.CHILD' | translate }}</md-option>
                            <md-option value="SON">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.SON' | translate }}</md-option>
                            <md-option value="DAUGTHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.DAUGTHER' | translate }}</md-option>
                            <md-option value="SIBLING">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.SIBLING' | translate }}</md-option>
                            <md-option value="BROTHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.BROTHER' | translate }}</md-option>
                            <md-option value="SISTER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.SISTER' | translate }}</md-option>
                            <md-option value="EXTENDED FAMILY">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.EXTENDED FAMILY' | translate }}</md-option>
                            <md-option value="GRANDPARENT">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GRANDPARENT' | translate }}</md-option>
                            <md-option value="GRANDFATHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GRANDFATHER' | translate }}</md-option>
                            <md-option value="GRANDMOTHER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GRANDMOTHER' | translate }}</md-option>
                            <md-option value="GRANDSON">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GRANDSON' | translate }}</md-option>
                            <md-option value="GRANDDAUGHTER">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GRANDDAUGHTER' | translate }}</md-option>
                            <md-option value="UNCLE">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.UNCLE' | translate }}</md-option>
                            <md-option value="AUNT">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.AUNT' | translate }}</md-option>
                            <md-option value="COUSIN">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.COUSIN' | translate }}</md-option>
                            <md-option value="NEPHEW">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.NEPHEW' | translate }}</md-option>
                            <md-option value="BOYFRIEND">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.BOYFRIEND' | translate }}</md-option>
                            <md-option value="GIRLFRIEND">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.GIRLFRIEND' | translate }}</md-option>
                            <md-option value="FRIEND">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.FRIEND' | translate }}</md-option>
                            <md-option value="KNOW">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.KNOW' | translate }}</md-option>
                            <md-option value="WORKING COLLEAGUE">{{ 'MODELS.EMERGENCY CONTACT.ATTRIBUTES.RELATIONSHIP.OPTIONS.WORKING COLLEAGUE' | translate }}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column">
                <md-input-container flex-gt-xs="50" nx-model-attribute="EmergencyContact:mobileNumber" class="md-block">
                    <input intl-tel-input ng-model="DefaultItemCtrl.item.mobileNumber">
                </md-input-container>
                <md-input-container flex-gt-xs="50" nx-model-attribute="EmergencyContact:phoneNumber" class="md-block">
                    <input intl-tel-input ng-model="DefaultItemCtrl.item.phoneNumber">
                </md-input-container>
            </div>
            <div layout="row" flex>
                <div layout="column" flex>
                    <md-input-container nx-model-attribute="EmergencyContact:email" flex-gt-xs="50" flex="100" class="md-block">
                        <input ng-model="DefaultItemCtrl.item.email">
                    </md-input-container>
                </div>
            </div>
    </div>
    <div nx-disable-all="ProfileViewCtrl.isOutSide()" layout="row" flex>
        <div layout="column" flex>
            <div layout="row">
                <h4 flex class="profile-content__box__title" style="color: #1ABADE !important;">Address</h4>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:type" flex="100" class="md-block">
                    <md-select required="true" ng-model="DefaultItemCtrl.item.address.type" aria-label="type">
                        <md-optgroup label="{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.LABEL' | translate }}">
                            <md-option value="HOME">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.HOME' | translate }}</md-option>
                            <md-option value="OFFICE">{{ 'MODELS.USER PROFILE.ATTRIBUTES.TYPE.OPTIONS.OFFICE' | translate }}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:street" flex="50" class="md-block">
                    <input required="true" aria-label="Street" placeholder="{{DefaultItemCtrl.item.address.street}}" ng-model="DefaultItemCtrl.item.address.street">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:number" flex="50" class="md-block">
                    <input required="true" aria-label="number" type="number" placeholder="{{DefaultItemCtrl.item.address.number}}" ng-model="DefaultItemCtrl.item.address.number">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:complement" flex="50" class="md-block">
                    <input  aria-label="Type" placeholder="{{DefaultItemCtrl.item.address.complement}}" ng-model="DefaultItemCtrl.item.address.complement">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:postalCode" flex="50" class="md-block">
                    <input required="true" placeholder="{{DefaultItemCtrl.item.address.postalCode}}" aria-label="Postal Code" ng-model="DefaultItemCtrl.item.address.postalCode">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container nx-model-attribute="EmergencyContact:city" flex="40" class="md-block">
                    <input required="true" aria-label="City" placeholder="{{DefaultItemCtrl.item.address.city}}" ng-model="DefaultItemCtrl.item.address.city">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:provincy" flex="30" class="md-block">
                    <input required="true" aria-label="Provincy" placeholder="{{DefaultItemCtrl.item.address.provincy}}" ng-model="DefaultItemCtrl.item.address.provincy">
                </md-input-container>
                <md-input-container nx-model-attribute="EmergencyContact:country" flex="30" class="md-block">
                    <input required="true" aria-label="Country" placeholder="{{DefaultItemCtrl.item.address.country}}" ng-model="DefaultItemCtrl.item.address.country">
                </md-input-container>
            </div>
        </div>
    </div>
    <div ng-if="!ProfileViewCtrl.isOutSide()" layout="row" ng-hide="DefaultItemCtrl.disableFields">
        <md-button flex ng-click="DefaultItemCtrl.save()" ng-disabled="form.$invalid " class="md-raised md-primary md-block">{{ 'ACTIONS.SAVE' | translate}}
        </md-button>
        <md-button flex class="me-raised" ng-click="DefaultItemCtrl.cancel()">{{ 'ACTIONS.CANCEL' | translate}}
        </md-button>
    </div>
    </form>
    </div>
</content-item-box>
